Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

feat: 共有機能とwebの実装
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/tsconfig.json
  apps/web/.gitignore
  apps/web/README.md
  apps/web/app/favicon.ico
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/app/shop/[id]/not-found.tsx
  apps/web/app/shop/[id]/page.tsx
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/public/file.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/tsconfig.json
  eslint.config.js
  package.json
  packages/shop-core/package.json
  packages/shop-core/src/index.ts
  packages/shop-core/src/shops.ts
  packages/shop-core/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: ログイン画面のエラーハンドリングとテキストのローカライズを改善
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

fix: expoバージョンを更新し、依存関係の整合性を改善
  pnpm-lock.yaml
Owners: @TeamH04/core-team

修正2
  apps/mobile/hooks/useFavorites.ts
Owners: @TeamH04/mobile-team

修正2
  apps/mobile/hooks/useFavorites.ts
Owners: @TeamH04/mobile-team

feat: 開発環境のgoサーバーとDBをdocker管理にする
  apps/backend/.env.example
  apps/backend/Dockerfile
  apps/backend/Makefile
  apps/backend/README.md
  docker-compose.yml
  supabase/README.md
  supabase/docker-compose.yml
Owners: @TeamH04/backend-team, @TeamH04/core-team

レビュー投稿時にコメントが未記入でも投稿できるよう修正
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

未記入時の空欄を消して不自然さをなくす
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

修正し直し
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

chore: Apple認証の一時的な処理にTODOコメントアウト行い、Supabase設定の注意事項を追加
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

chore: webの実装によるMakeコマンドの変更
  Makefile
  pnpm-lock.yaml
Owners: @TeamH04/core-team

chore: ログイン画面の余白を調整
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

chore: TODOコメントを整理し、実運用の注意事項を明確化
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

feat: webの詳細ページに飛べなかったエラーを修正し、スタイリングを調整
  apps/web/app/page.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/app/shop/[id]/page.tsx
  apps/web/next.config.ts
Owners: @TeamH04/core-team

依存関係の更新とカテゴリ選択の最適化
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: モックデータをwebとmobileで共通化
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/home/data/shops.ts
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

chore: モックデータのタイポを修正
  packages/shop-core/src/shops.ts
Owners: @TeamH04/core-team

chore: 補足コメント追加
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

feat: 検索画面でメニュー名による検索機能を追加
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

ホーム画面から検索欄を削除
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

無駄、冗長な処理を削除
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
Owners: @TeamH04/mobile-team

searchQueryを修正しました
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

chore: pgadmin追加
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  docker-compose.yml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: レビュー箇所の修正
  apps/backend/Dockerfile
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
Owners: @TeamH04/backend-team, @TeamH04/mobile-team, @TeamH04/core-team

chore: Makefile整備
  Makefile
Owners: @TeamH04/core-team

chore: ビルド設定修正
  apps/mobile/metro.config.js
  apps/mobile/package.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 共有機能実装
  apps/mobile/.env.example
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

feat: URLが指定されていないときにアラートを出すよう修正
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

chore: pnpm install
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: pageをSuspenseで囲むよう修正
  apps/web/app/HomePageClient.tsx
  apps/web/app/page.tsx
Owners: @TeamH04/core-team

fix: pageをSuspenseで囲むよう修正
  apps/web/app/HomePageClient.tsx
  apps/web/app/page.tsx
Owners: @TeamH04/core-team

chore: updat modulee version
  apps/mobile/package.json
Owners: @TeamH04/core-team

chore: updat modulee version
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: 全画面のスクロール時下部余白を調整
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

feat: 検索画面にスクロール機能を追加
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix: SerchScreenのフォーマットエラーの修正
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

refactor: tab-bar spacingをmagic numbersから定数に置き換え
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix: SearchScreenで不要なnestedScrollEnabledを削除
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

オーナー用ログイン画面を作成
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/hooks/useSocialAuth.ts
Owners: @TeamH04/mobile-team

copilotの修正を反映
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/hooks/useSocialAuth.ts
Owners: @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
