Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

chore: fix lint after merge
  .gitignore
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/mypage.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/profile/_layout.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/shop/[id]/_layout.tsx
  apps/mobile/app/shop/[id]/index.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/features/user/UserContext.tsx
  docs/AGENTS.md
  package.json
  pnpm-lock.yaml
  scripts/eslint-to-md.mjs
  scripts/prepare-reports.mjs
  scripts/run-eslint-json.mjs
Owners: @TeamH04/core-team, @TeamH04/mobile-team

fix: クライアント側には一般的なエラーメッセージのみ返すように修正
  apps/backend/internal/handlers/store.go
Owners: @TeamH04/backend-team

fix: cicd error
  .github/dependabot.yml
  apps/backend/cmd/server/main.go
  apps/backend/go.mod
  apps/backend/go.sum
  pnpm-lock.yaml
Owners: @TeamH04/core-team, @TeamH04/backend-team

docs: ドキュメントを移行
  docs/API設計書.md
  docs/DB設計書.md
  docs/PRD.md
Owners: @TeamH04/core-team

コードの可読性を上げる
  apps/backend/internal/domain/store.go
  apps/backend/internal/domain/user.go
  apps/backend/internal/handlers/auth_handler.go
  apps/backend/internal/middleware/auth.go
  apps/backend/internal/router/router.go
Owners: @TeamH04/backend-team

chore: merge main
  .vscode/settings.json
  README.md
  apps/backend/README.md
  apps/backend/internal/handlers/auth.go
  apps/backend/internal/handlers/health.go
  apps/backend/internal/server/router.go
  apps/mobile/README.md
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/babel.config.js
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  docs/screen-flow.md
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

構造体の型定義をinput_portに移行
  apps/backend/internal/handlers/admin_handler.go
  apps/backend/internal/handlers/auth_handler.go
  apps/backend/internal/handlers/auth_utils.go
  apps/backend/internal/handlers/favorite_handler.go
  apps/backend/internal/handlers/media_handler.go
  apps/backend/internal/input_port/auth_login_input.go
  apps/backend/internal/input_port/auth_role_input.go
  apps/backend/internal/input_port/auth_signup_input.go
  apps/backend/internal/input_port/favorite_input.go
  apps/backend/internal/input_port/media_input.go
  apps/backend/internal/input_port/report_input.go
Owners: @TeamH04/backend-team

Add jwt dependency
  apps/backend/go.mod
  apps/backend/go.sum
Owners: @TeamH04/backend-team

edit UserRole
  apps/backend/internal/handlers/auth_utils.go
Owners: @TeamH04/backend-team

DELETE UploadSARIF file
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

Update UploadSARIF file
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

Update UploadSARIF file
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

Update CodeQL version
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

Update path
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

Update path
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

Update path
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

Update path
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

storeのinput_port,output_portを分ける
  apps/backend/internal/handlers/store_handler.go
  apps/backend/internal/usecase/store_usecase.go
Owners: @TeamH04/backend-team

storeのinput_port,output_portを分ける
  apps/backend/internal/usecase/store_usecase.go
Owners: @TeamH04/backend-team

chore: usecaseをinteractorに移動させる
  apps/backend/internal/common/setup.go
  apps/backend/internal/handlers/admin_handler.go
  apps/backend/internal/handlers/favorite_handler.go
  apps/backend/internal/handlers/media_handler.go
  apps/backend/internal/handlers/menu_handler.go
  apps/backend/internal/handlers/report_handler.go
  apps/backend/internal/handlers/review_handler.go
  apps/backend/internal/handlers/store_handler.go
  apps/backend/internal/handlers/user_handler.go
  apps/backend/internal/usecase/interactor/admin_usecase.go
  apps/backend/internal/usecase/interactor/errors.go
  apps/backend/internal/usecase/interactor/favorite_usecase.go
  apps/backend/internal/usecase/interactor/media_usecase.go
  apps/backend/internal/usecase/interactor/menu_usecase.go
  apps/backend/internal/usecase/interactor/report_usecase.go
  apps/backend/internal/usecase/interactor/review_usecase.go
  apps/backend/internal/usecase/interactor/store_usecase.go
  apps/backend/internal/usecase/interactor/store_usecase_test.go
  apps/backend/internal/usecase/interactor/user_usecase.go
Owners: @TeamH04/backend-team

chore: 型をinput_port, output_portに分離させる
  apps/backend/internal/common/setup.go
  apps/backend/internal/handlers/store_handler.go
  apps/backend/internal/repository/store_repository.go
  apps/backend/internal/usecase/input_port/store.go
  apps/backend/internal/usecase/interactor/admin_usecase.go
  apps/backend/internal/usecase/interactor/favorite_usecase.go
  apps/backend/internal/usecase/interactor/menu_usecase.go
  apps/backend/internal/usecase/interactor/review_usecase.go
  apps/backend/internal/usecase/interactor/store_usecase.go
  apps/backend/internal/usecase/interactor/store_usecase_test.go
  apps/backend/internal/usecase/output_port/store.go
Owners: @TeamH04/backend-team

feat: login
  app.json
  apps/backend/internal/handlers/auth.go
  apps/backend/internal/handlers/httpx.go
  apps/mobile/.env.example
  apps/mobile/README.md
  apps/mobile/app/_layout.tsx
  apps/mobile/app/auth/callback.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/index.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/lib/auth.ts
  apps/mobile/lib/supabase.ts
  apps/mobile/scripts/cleanup-href-casts.js
  apps/mobile/types/env.d.ts
  package.json
Owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

chore: makeコマンド整備
  .gitignore
  Makefile
  README.md
  apps/backend/Makefile
  apps/mobile/README.md
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/index.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/babel.config.js
  apps/mobile/lib/auth.ts
  apps/mobile/package.json
  apps/mobile/scripts/start-dev.js
  apps/mobile/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @TeamH04/core-team, @TeamH04/mobile-team

chore: run format
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/scripts/cleanup-href-casts.js
  docs/screen-flow.md
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: ログイン機能実装
  apps/backend/REFACTORING_SUMMARY.md
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/index.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/constants/palette.ts
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/core-team, @TeamH04/mobile-team

chore: fix ci/cd error
  .github/workflows/backend-deploy.yml
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

chore: fix logic
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

chore: 冗長なファイル名を修正
  apps/backend/internal/domain/store.go
  apps/backend/internal/handlers/admin.go
  apps/backend/internal/handlers/auth.go
  apps/backend/internal/handlers/favorite.go
  apps/backend/internal/handlers/media.go
  apps/backend/internal/handlers/menu.go
  apps/backend/internal/handlers/report.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/handlers/store.go
  apps/backend/internal/handlers/user.go
  apps/backend/internal/router/error.go
  apps/backend/internal/usecase/admin.go
  apps/backend/internal/usecase/admin_test.go
  apps/backend/internal/usecase/auth.go
  apps/backend/internal/usecase/favorite.go
  apps/backend/internal/usecase/media.go
  apps/backend/internal/usecase/menu.go
  apps/backend/internal/usecase/report.go
  apps/backend/internal/usecase/review.go
  apps/backend/internal/usecase/store.go
  apps/backend/internal/usecase/store_test.go
  apps/backend/internal/usecase/user.go
Owners: @TeamH04/backend-team

chore: テスト関数名を修正
  apps/backend/internal/usecase/admin_test.go
  apps/backend/internal/usecase/store_test.go
Owners: @TeamH04/backend-team

feat: 開発者モードの場合にゲストアカウントでログイン出来るようにする
  apps/mobile/.env.example
  apps/mobile/README.md
  apps/mobile/app/index.tsx
  apps/mobile/app/login.tsx
  apps/mobile/lib/devMode.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: 変数名変更
  apps/mobile/.env.example
  apps/mobile/README.md
  apps/mobile/lib/devMode.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: copilot review反映
  apps/mobile/app/index.tsx
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

chore: makeile更新
  apps/backend/Makefile
Owners: @TeamH04/core-team

tabsのボタンを戻るにする
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/mobile-team

レビューを書くボタンが表示されない問題を修正
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

feat: workflowにfrontend向けプレビューを追加
  .github/workflows/preview-frontend.yml
Owners: @TeamH04/core-team

chore: 開発者モードをビルドモードによって管理する
  apps/mobile/lib/devMode.ts
Owners: @TeamH04/mobile-team

shop/[id]を削除し店名を表示
  apps/mobile/app/_layout.tsx
  apps/mobile/app/shop/[id]/_layout.tsx
Owners: @TeamH04/mobile-team

chore: update pnpm-lock
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

「投稿する」ボタンが表示されない問題を修正
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
Owners: @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
