Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

fix: Goバージョンを1.25に更新
  apps/backend/Dockerfile
Owners: @TeamH04/backend-team

fix: ESLint設定にテストファイル用のimport解決設定を追加
  eslint.config.js
  tsconfig.eslint.json
Owners: @TeamH04/core-team

feat: 共通パッケージに再利用可能なユーティリティを追加
  packages/constants/src/design-tokens.ts
  packages/constants/src/genres.ts
  packages/constants/src/index.ts
  packages/constants/src/sort.ts
  packages/constants/src/styles.ts
  packages/constants/src/ui-labels.ts
  packages/core-utils/src/__tests__/arrayUtils.test.ts
  packages/core-utils/src/__tests__/dateUtils.test.ts
  packages/core-utils/src/arrayUtils.ts
  packages/core-utils/src/createSafeContext.ts
  packages/core-utils/src/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useReviewsState.ts
  packages/mobile-ui/src/alerts.ts
  packages/mobile-ui/src/index.ts
  packages/mobile-ui/src/palette.ts
  packages/shop-core/src/__tests__/menuUtils.test.ts
  packages/shop-core/src/__tests__/search.test.ts
  packages/shop-core/src/__tests__/sorting.test.ts
  packages/shop-core/src/index.ts
  packages/shop-core/src/menuUtils.ts
  packages/shop-core/src/search.ts
Owners: @TeamH04/core-team

refactor(backend): エラーメッセージとヘルパー関数を標準化
  apps/backend/Dockerfile
  apps/backend/internal/config/constants.go
  apps/backend/internal/handlers/admin.go
  apps/backend/internal/handlers/file_urls.go
  apps/backend/internal/handlers/http_helpers.go
  apps/backend/internal/handlers/httpx.go
  apps/backend/internal/handlers/media.go
  apps/backend/internal/handlers/menu.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/handlers/store.go
  apps/backend/internal/usecase/favorite.go
  apps/backend/internal/usecase/media.go
  apps/backend/internal/usecase/menu.go
  apps/backend/internal/usecase/report.go
  apps/backend/internal/usecase/review.go
  apps/backend/internal/usecase/store.go
  apps/backend/internal/usecase/user.go
Owners: @TeamH04/backend-team

refactor(mobile): インポートパスを共通パッケージに標準化
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/menu.tsx
  apps/mobile/app/owner/index.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/AppHeader.tsx
  apps/mobile/components/BackButton.tsx
  apps/mobile/components/HeaderWithBack.tsx
  apps/mobile/components/ReviewCard.tsx
  apps/mobile/components/ShopCard.tsx
  apps/mobile/constants/sortOptions.ts
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/hooks/useOAuthFlow.ts
  apps/mobile/lib/api.ts
Owners: @TeamH04/mobile-team

chore: Web/validators/test-utilsの標準化とクリーンアップ
  apps/web/lib/api.ts
  packages/api/src/index.ts
  packages/location-utils/src/__tests__/index.test.ts
  packages/test-utils/src/contextTestHelpers.ts
  packages/test-utils/src/fixtures.ts
  packages/validators/package.json
  packages/validators/src/__tests__/shop-registration.test.ts
  packages/validators/src/shop-registration.ts
  tsconfig.eslint.json
Owners: @TeamH04/core-team

refactor: 不要なコンポーネントの削除とユーティリティ関数の統合
  apps/mobile/components/AccordionSection.tsx
  apps/mobile/components/ListWithStates.tsx
  apps/mobile/components/TabContent.tsx
  apps/mobile/components/ToggleButton.tsx
  apps/mobile/constants/__tests__/genres.test.ts
  apps/mobile/constants/palette.ts
  apps/mobile/test-utils/setup.ts
  packages/hooks/src/useFavoriteToggle.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: レビューテーブルに評価詳細カラムを追加
  apps/backend/migrations/000006_add_rating_details.down.sql
  apps/backend/migrations/000006_add_rating_details.up.sql
Owners: @TeamH04/backend-team

feat: レビューに評価詳細に関連する構造体とレスポンスを更新
  apps/backend/internal/domain/entity/review.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/repository/model/modeltoentity.go
  apps/backend/internal/repository/review.go
  apps/backend/internal/usecase/input/review.go
  apps/backend/internal/usecase/output/review.go
  apps/backend/internal/usecase/review.go
  packages/types/src/index.ts
Owners: @TeamH04/backend-team, @TeamH04/core-team

feat: レビューに評価詳細の表示コンポーネントを実装
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

fix: PostgreSQLイメージをimresamu/postgis:16-3.4に更新
  docker-compose.yml
Owners: @TeamH04/core-team

feat: レビュー作成時に評価詳細を追加できるように変更
  apps/mobile/lib/api.ts
Owners: @TeamH04/mobile-team

chore: パッケージの依存関係に伴うバージョンの修正
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat: prettierコマンドで変更がない場合のメッセージを追加
  package.json
Owners: @TeamH04/core-team

feat: react-nativeのモジュール解決を改善してパッケージエクスポートを無効化
  apps/mobile/metro.config.js
Owners: @TeamH04/mobile-team

fix: Worklets のバージョンのズレを修正
  apps/mobile/package.json
Owners: @TeamH04/core-team

feat: tailwind.config を JS から TS へ移行
  apps/mobile/tailwind.config.js
  apps/mobile/tailwind.config.ts
Owners: @TeamH04/mobile-team

feat: ヘッダーのステータスバー部分を考慮するよう修正
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/components/AppHeader.tsx
  apps/mobile/constants/layout.ts
  apps/web/app/HomePageClient.tsx
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: タイポグラフィの統一とカスタムテキストコンポーネントの追加
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/menu.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/components/BackButton.tsx
  apps/mobile/components/Text.tsx
  apps/mobile/components/ThemedText.tsx
  apps/mobile/constants/typography.ts
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/web/app/layout.tsx
  packages/theme/src/index.ts
  packages/theme/src/typography.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: ガラスモーフィズムUIと開発者モードUIのカラーパレットを追加
  apps/mobile/constants/palette.ts
Owners: @TeamH04/mobile-team

feat: mertoのjsをtsに変更
  apps/mobile/metro.config.js
Owners: @TeamH04/mobile-team

feat: ログイン画面にアニメーション背景とボタンのスタイルを追加
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

feat: オーナーログイン画面にアニメーション背景とスタイルを追加
  apps/mobile/app/owner/login.tsx
Owners: @TeamH04/mobile-team

feat: ステータスバーのためのヘッダーを追加
  apps/mobile/app/_layout.tsx
  apps/mobile/app/profile/register.tsx
Owners: @TeamH04/mobile-team

feat: ボタンのスタイルを更新
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

fix: FloatingCircleコンポーネントのアニメーションプロパティを修正
  apps/mobile/app/owner/login.tsx
  apps/mobile/tailwind.config.ts
Owners: @TeamH04/mobile-team

feat(packages): 共通パッケージに新規ユーティリティとコンポーネントを追加
  packages/auth-client/package.json
  packages/auth-client/src/__tests__/authClient.test.ts
  packages/auth-client/src/authClient.ts
  packages/auth-client/src/index.ts
  packages/auth-client/tsconfig.json
  packages/constants/src/env.ts
  packages/constants/src/oauth.ts
  packages/constants/src/review.ts
  packages/constants/src/roles.ts
  packages/file-utils/package.json
  packages/file-utils/src/__tests__/fetchAsset.test.ts
  packages/file-utils/src/__tests__/test-helpers.ts
  packages/file-utils/src/fetchAsset.ts
  packages/file-utils/src/index.ts
  packages/file-utils/src/upload.ts
  packages/file-utils/tsconfig.json
  packages/hooks/src/createNavigateAfterLogin.ts
  packages/hooks/src/createUseShopNavigator.ts
  packages/hooks/src/reviewMapping.ts
  packages/hooks/src/useHydrationState.ts
  packages/hooks/src/useSearchState.ts
  packages/hooks/src/useThemeColor.ts
  packages/hooks/tsconfig.eslint.json
  packages/mobile-ui/src/buttonStyles.ts
  packages/mobile-ui/src/cardTypes.ts
  packages/mobile-ui/src/components/Accordion.tsx
  packages/mobile-ui/src/components/BackButton.tsx
  packages/mobile-ui/src/components/EmptyState.tsx
  packages/mobile-ui/src/components/GenreChipSelector.tsx
  packages/mobile-ui/src/components/HeaderWithBack.tsx
  packages/mobile-ui/src/components/ThemedText.tsx
  packages/mobile-ui/src/emptyStateStyles.ts
  packages/mobile-ui/src/inputStyles.ts
  packages/mobile-ui/src/modalStyles.ts
  packages/theme/src/shadows.ts
Owners: @TeamH04/core-team

refactor(packages): 既存パッケージの機能拡張と標準化
  packages/constants/package.json
  packages/constants/src/design-tokens.ts
  packages/constants/src/index.ts
  packages/constants/src/sort.ts
  packages/constants/src/styles.ts
  packages/constants/src/ui-labels.ts
  packages/constants/src/validation.ts
  packages/core-utils/src/auth.ts
  packages/core-utils/src/index.ts
  packages/core-utils/src/stringUtils.ts
  packages/crypto-utils/src/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useFavoritesState.ts
  packages/hooks/src/useOAuthState.ts
  packages/hooks/src/useOptimisticUpdate.ts
  packages/hooks/src/useReviewsState.ts
  packages/hooks/src/useShopFilter.ts
  packages/mobile-ui/package.json
  packages/mobile-ui/src/alerts.ts
  packages/mobile-ui/src/components/TabContent.tsx
  packages/mobile-ui/src/index.ts
  packages/mobile-ui/src/palette.ts
  packages/shop-core/src/shopUtils.ts
  packages/theme/src/colors.ts
  packages/theme/src/index.ts
  packages/types/src/index.ts
  packages/validators/src/index.ts
  packages/validators/src/shop-registration.ts
Owners: @TeamH04/core-team

refactor(web): 共通パッケージを適用
  apps/web/README.md
  apps/web/app/HomePageClient.tsx
  apps/web/app/__tests__/HomePageClient.test.tsx
  apps/web/app/shop/[id]/__tests__/ShopDetail.test.tsx
  apps/web/lib/api.ts
  apps/web/lib/config.ts
  apps/web/lib/storage.ts
  apps/web/package.json
Owners: @TeamH04/core-team

test(packages): テストカバレッジの拡充
  packages/core-utils/src/__tests__/arrayUtils.test.ts
  packages/core-utils/src/__tests__/dateUtils.test.ts
  packages/core-utils/src/__tests__/stringUtils.test.ts
  packages/location-utils/src/__tests__/index.test.ts
  packages/shop-core/src/__tests__/mapping.test.ts
  packages/shop-core/src/__tests__/menuUtils.test.ts
  packages/shop-core/src/__tests__/search.test.ts
  packages/shop-core/src/__tests__/sorting.test.ts
  packages/validators/src/__tests__/shop-registration.test.ts
Owners: @TeamH04/core-team

docs: ドキュメントの再構成
  docs/README.md
  docs/commands.md
  docs/development.md
  docs/packages.md
  docs/setup.md
  docs/specs/PRD.md
  docs/specs/api.md
  docs/specs/backend-architecture.md
  docs/specs/database.md
  docs/specs/screen-flow.md
Owners: @TeamH04/core-team

chore: 設定ファイルの更新
  .github/GITHUB_SETUP.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  AGENTS.md
  Makefile
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  turbo.json
Owners: @TeamH04/core-team

refactor(ci): Lint and TypeScript type checkを統合 refactor(tests): mockFetchのblob処理を修正
  .github/workflows/ci.yml
  packages/file-utils/src/__tests__/test-helpers.ts
Owners: @TeamH04/core-team

fix: mockFetchWithoutArrayBufferの型定義を修正
  packages/file-utils/src/__tests__/test-helpers.ts
Owners: @TeamH04/core-team

feat: オーナーログイン画面とログイン画面のアニメーション背景を追加し、スタイルを更新
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/components/AnimatedLoginBackground.tsx
  apps/mobile/constants/palette.ts
  apps/mobile/tailwind.config.ts
Owners: @TeamH04/mobile-team

Merge origin/fix/update-go-version-1.25 and origin/feature/review
  apps/backend/internal/domain/entity/review.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/model/model_to_entity.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/repository/review.go
  apps/backend/internal/repository/testutil/db.go
  apps/backend/internal/usecase/input/review.go
  apps/backend/internal/usecase/output/review.go
  apps/backend/internal/usecase/review.go
  apps/backend/migrations/000006_add_rating_details.down.sql
  apps/backend/migrations/000006_add_rating_details.up.sql
  apps/mobile/components/AnimatedLoginBackground.tsx
  apps/mobile/components/AppHeader.tsx
  apps/mobile/components/Text.tsx
  apps/mobile/constants/typography.ts
  apps/mobile/metro.config.js
  apps/mobile/tailwind.config.js
  apps/mobile/tailwind.config.ts
  apps/web/app/HomePageClient.tsx
  apps/web/app/layout.tsx
  docker-compose.yml
  eslint.config.js
  package.json
  packages/mobile-ui/src/palette.ts
  packages/theme/src/index.ts
  packages/theme/src/typography.ts
  packages/types/src/index.ts
  tsconfig.eslint.json
Owners: @TeamH04/backend-team, @TeamH04/mobile-team, @TeamH04/core-team

feat: 初回ログイン時にGoogleアカウントの情報を引き込むようにする
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/middleware/auth.go
  apps/backend/internal/repository/user.go
  apps/backend/internal/security/token.go
  apps/backend/internal/security/token_test.go
  apps/backend/internal/usecase/input/user.go
  apps/backend/internal/usecase/user.go
  apps/backend/internal/usecase/user_test.go
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  eslint.config.js
Owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

fix: レビュー箇所修正
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/hooks/useAuthMe.ts
  apps/mobile/lib/profile.ts
Owners: @TeamH04/mobile-team

feat(backend): レビュー詳細評価のバリデーションを追加
  apps/backend/internal/usecase/errors.go
  apps/backend/internal/usecase/review.go
  apps/backend/internal/usecase/review_test.go
  apps/backend/migrations/000007_add_rating_details_constraints.down.sql
  apps/backend/migrations/000007_add_rating_details_constraints.up.sql
Owners: @TeamH04/backend-team

feat(theme): Web用CSS変数の自動生成機能を追加
  packages/theme/package.json
  packages/theme/scripts/generate-css-vars.ts
  packages/theme/src/typography.ts
  pnpm-lock.yaml
Owners: @TeamH04/core-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
