Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

chore: update turborepo
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

refactor: 微修正
  apps/mobile/app/(tabs)/_layout.tsx
Owners: @TeamH04/mobile-team

feat: マイページ/レビュー履歴画面の実装
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  packages/mobile-ui/src/components/BackButton.tsx
  packages/mobile-ui/src/components/HeaderWithBack.tsx
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: lintエラー修正
  apps/mobile/app/owner/signup.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  packages/shop-core/src/__tests__/sorting.test.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: 依存関係の更新とコードスタイル改善
  Makefile
  apps/mobile/app/owner/signup.tsx
  apps/mobile/package.json
  apps/web/package.json
  package.json
  packages/hooks/package.json
  packages/hooks/src/useThemeColor.ts
  packages/shop-core/src/__tests__/sorting.test.ts
  pnpm-lock.yaml
Owners: @TeamH04/core-team, @TeamH04/mobile-team

fix(search): 検索結果0件時のUI改善 (#156)
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/web/app/HomePageClient.tsx
  apps/web/public/empty-search.png
Owners: @TeamH04/mobile-team, @TeamH04/core-team

レビュー指摘事項修正
  Makefile
  apps/mobile/features/search/screens/SearchScreen.tsx
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team, @TeamH04/mobile-team

fix(security): Dependabot脆弱性修正
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat: 開発環境でのAPIベースURLを自動判定する機能を追加
  apps/mobile/.env.example
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

feat: Expoデバイスモジュールを追加しAPIベースURLの取得ロジックを改善
  apps/mobile/lib/config.ts
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: formatter
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: ホストURIからIPアドレス部分の抽出ロジックを改善
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: 本番ビルドでの環境変数必須チェックを追加して開発環境の自動判定ロジックを整理
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: 環境変数の宣言を追加
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: APIベースURLの自動判定失敗時に警告メッセージを追加
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: APIベースURLのポートとパスを環境変数から取得するように変更
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: 環境変数にAPIポートとAPIパスを追加
  apps/mobile/.env.example
  apps/mobile/README.md
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: formatter
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

fix: Expo環境変数の読み込み方法を改善し、開発環境の判定を強化
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

chore: lockファイルの更新とルーティング修正
  apps/mobile/app/owner/index.tsx
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

検索欄を揃える
  apps/mobile/components/SearchBar.tsx
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

コンパイルエラー防止
  apps/mobile/lib/config.ts
Owners: @TeamH04/mobile-team

feat: ショップデータのインポートとレビュー評価のシードデータを追加
  apps/backend/migrations/000002_seed.down.sql
  apps/backend/migrations/000002_seed.up.sql
  apps/backend/migrations/000004_import_shops_data.up.sql
  apps/backend/migrations/000009_seed_review_ratings.down.sql
  apps/backend/migrations/000009_seed_review_ratings.up.sql
Owners: @TeamH04/backend-team

refactor(mobile): モバイルアプリの改善
  apps/mobile/app/auth/callback.tsx
  apps/mobile/app/menu.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/ReviewCard.tsx
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/reviews/__tests__/ReviewsContext.test.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/features/stores/StoresContext.tsx
  apps/mobile/features/user/UserContext.tsx
  apps/mobile/hooks/useThemeColor.ts
  apps/mobile/lib/profile.ts
  apps/mobile/test-utils/harness.tsx
Owners: @TeamH04/mobile-team

feat(web): 共通コンポーネントとデータソース層を追加
  apps/web/components/EmptyState.tsx
  apps/web/components/LoadMoreButton.tsx
  apps/web/components/Navigation.tsx
  apps/web/components/PageError.tsx
  apps/web/components/PageLoading.tsx
  apps/web/components/ReviewCard.tsx
  apps/web/components/ReviewForm.tsx
  apps/web/components/ShopCard.tsx
  apps/web/components/SortSelector.tsx
  apps/web/components/index.ts
  apps/web/lib/auth.ts
  apps/web/lib/dataSource/__tests__/hooks.test.tsx
  apps/web/lib/dataSource/apiDataSource.ts
  apps/web/lib/dataSource/hooks.ts
  apps/web/lib/dataSource/index.ts
  apps/web/lib/dataSource/mockDataSource.ts
  apps/web/lib/dataSource/types.ts
  apps/web/lib/styles.ts
Owners: @TeamH04/core-team

feat(web): お気に入り・マイページ画面を追加
  apps/web/app/HomePageClient.tsx
  apps/web/app/error.tsx
  apps/web/app/favorites/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/mypage/page.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/package.json
  apps/web/test-utils/fixtures.ts
  apps/web/test-utils/shop-core-mock.ts
Owners: @TeamH04/core-team

test(web): コンポーネント・ページのテストを追加
  apps/web/app/__tests__/HomePageClient.test.tsx
  apps/web/app/favorites/__tests__/page.test.tsx
  apps/web/app/mypage/__tests__/page.test.tsx
  apps/web/app/shop/[id]/__tests__/ShopDetail.test.tsx
  apps/web/components/__tests__/EmptyState.test.tsx
  apps/web/components/__tests__/LoadMoreButton.test.tsx
  apps/web/components/__tests__/Navigation.test.tsx
  apps/web/components/__tests__/PageError.test.tsx
  apps/web/components/__tests__/PageLoading.test.tsx
  apps/web/components/__tests__/ReviewCard.test.tsx
  apps/web/components/__tests__/ReviewForm.test.tsx
  apps/web/components/__tests__/ShopCard.test.tsx
  apps/web/components/__tests__/SortSelector.test.tsx
  apps/web/lib/__tests__/auth.test.ts
  apps/web/lib/__tests__/styles.test.ts
Owners: @TeamH04/core-team

feat(web): Webアプリケーションの分析対象に追加
  .github/codeql/codeql-config-javascript.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  packages/hooks/tsconfig.json
Owners: @TeamH04/core-team

feat(web): SearchBarコンポーネントを使用して検索機能を改善
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/web/app/error.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/components/EmptyState.tsx
Owners: @TeamH04/mobile-team, @TeamH04/core-team

ロゴの差し替えとreadmeの最上部にリンクを設置
  README.md
  apps/web/app/HomePageClient.tsx
  apps/web/components/Navigation.tsx
  apps/web/components/__tests__/Navigation.test.tsx
  apps/web/public/kaguri.svg
Owners: @TeamH04/core-team

refactor(constants): メッセージ・API定数をconstantsパッケージに集約
  apps/mobile/app/auth/callback.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/lib/auth/supabase.ts
  apps/mobile/lib/config.ts
  packages/constants/src/api.ts
  packages/constants/src/authMessages.ts
  packages/constants/src/index.ts
  packages/constants/src/messages.ts
  packages/shop-core/src/constants.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

refactor(mobile): ShopDetail・HomeScreenのコード整理
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/reviews/__tests__/ReviewsContext.test.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

refactor(web): useAsyncData汎用フックの抽出とhooksリファクタリング
  apps/web/lib/dataSource/hooks.ts
Owners: @TeamH04/core-team

feat(web): BottomNavコンポーネントとnavigationモジュールの追加
  apps/web/app/layout.tsx
  apps/web/components/BottomNav.tsx
  apps/web/components/Navigation.tsx
  apps/web/components/__tests__/BottomNav.test.tsx
  apps/web/components/index.ts
  apps/web/lib/navigation.ts
Owners: @TeamH04/core-team

refactor(web): stylesモジュールからnavigation関連を分離
  apps/web/app/favorites/page.tsx
  apps/web/app/mypage/page.tsx
  apps/web/lib/__tests__/styles.test.ts
  apps/web/lib/styles.ts
Owners: @TeamH04/core-team

style(web): モバイルレスポンシブ対応とタッチターゲット改善
  apps/web/app/HomePageClient.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/components/ReviewForm.tsx
  apps/web/components/ShopCard.tsx
  apps/web/components/SortSelector.tsx
Owners: @TeamH04/core-team

refactor(web): コード品質改善（命名・コメント・整理）
  apps/web/app/error.tsx
  apps/web/app/shop/[id]/not-found.tsx
  apps/web/components/PageError.tsx
  apps/web/lib/auth.ts
Owners: @TeamH04/core-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
