Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team

chore: domainからgormタグとjsonタグを削除
  apps/backend/internal/domain/store.go
  apps/backend/internal/domain/user.go
Owners: @TeamH04/backend-team

chore: repositoryのファイル名を修正
  apps/backend/internal/repository/favorite.go
  apps/backend/internal/repository/media.go
  apps/backend/internal/repository/menu.go
  apps/backend/internal/repository/report.go
  apps/backend/internal/repository/review.go
  apps/backend/internal/repository/store.go
  apps/backend/internal/repository/user.go
Owners: @TeamH04/backend-team

各店舗ごとに付けられているタグを押すと検索欄に移行するようにする
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

各店舗ごとに付けられているタグを押すと検索欄に移行するようにする
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

各店舗ごとに付けられているタグを押すと検索欄に移行するようにする
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

各店舗ごとに付けられているタグを押すと検索欄に移行するようにする
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

chore: コメントアウトを日本語にする
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

Dependabotを停止する
  .github/workflows/dependabot-auto-merge.yml
Owners: @TeamH04/core-team

レビュー投稿時の評価用の星をデフォルトで0にする
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

レビュー投稿時の評価用の星をデフォルトで0にする
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

灰色の余白削除
  apps/mobile/README.md
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/core-team, @TeamH04/mobile-team

レビュー投稿画面のヘッダーを「レビュー」にする
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

レビュー投稿画面を一部修正
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

formatなどの修正
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

レビュー時の星とコメント未入力時のエラー表示
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

記号修正
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

コメント修正
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

店舗詳細画面で画像を複数枚挿入できるようにする
  apps/mobile/features/home/data/shops.ts
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

細かい修正
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

fix: 不要な情報を削除
  apps/mobile/README.md
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/core-team, @TeamH04/mobile-team

ログアウトボタンをマイページ画面に移動
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

fix: 修正
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

スワイプがわかりやすいようにする
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

レビュー削除ボタンを追加
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
Owners: @TeamH04/mobile-team

style: run format:mobile
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

Dependabotを削除
  .github/dependabot.yml
Owners: @TeamH04/core-team

chore: バージョンとログイン関係整理
  apps/mobile/app/login.tsx
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: レビュー反映
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

決済方法を店舗詳細画面に表示する
  apps/mobile/features/home/data/shops.ts
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

タグの挙動変更
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

修正
  apps/mobile/features/home/data/shops.ts
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

保存ボタンが表示されない問題を修正
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/favorites/FavoritesContext.tsx
Owners: @TeamH04/mobile-team

削除ボタンの色合いを変更
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

feat: Appleサインイン機能を追加
  apps/mobile/README.md
  apps/mobile/app.json
  apps/mobile/app/login.tsx
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team, @TeamH04/mobile-team

下部ナビゲーションバーに機能を追加
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/(tabs)/favorites.tsx
  apps/mobile/app/(tabs)/search.tsx
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/hooks/useFavorites.ts
Owners: @TeamH04/mobile-team

feat: pnpmキャッシュディレクトリの作成ステップを追加
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

メニュー再度押下時に選択を解除できる機能を追加
  apps/mobile/app/shop/[id]/review.tsx
Owners: @TeamH04/mobile-team

fix: OSでの開発モードを有効にする
  apps/mobile/lib/devMode.ts
Owners: @TeamH04/mobile-team

修正
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/hooks/useFavorites.ts
Owners: @TeamH04/mobile-team

fix: 開発モードのログイン条件を修正
  apps/mobile/lib/devMode.ts
Owners: @TeamH04/mobile-team
