Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

chore(backend): update Go version
  apps/backend/go.mod
Owners: @TeamH04/backend-team

chore: update Node.js version
  .nvmrc
Owners: @TeamH04/core-team

chore: update dependencies
  apps/mobile/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

chore: update TypeScript configurations
  apps/mobile/tsconfig.json
  apps/web/tsconfig.json
  packages/types/tsconfig.json
Owners: @TeamH04/core-team

style: apply formatter (quotes and newlines)
  apps/mobile/global.css
  apps/web/app/globals.css
  apps/web/eslint.config.mjs
  apps/web/postcss.config.mjs
  scripts/eslint-to-md.mjs
  scripts/prepare-reports.mjs
  scripts/run-eslint-json.mjs
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: downgrade @types/node version to 24.10.4
  pnpm-lock.yaml
Owners: @TeamH04/core-team

chore: update Go version in backend deploy workflow and add permissions to expo deploy workflow
  .github/workflows/backend-deploy.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

chore: simplify test job in backend deploy workflow by removing matrix strategy and updating dependencies
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

# Pull Request Description
  .github/pull_request_template.md
Owners: @TeamH04/core-team

feat: テーマ管理のための新しいテーマパッケージを追加し、アプリ全体での色の統一を図る
  apps/mobile/app.json
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/owner/index.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/AppHeader.tsx
  apps/mobile/constants/Colors.ts
  apps/mobile/constants/palette.ts
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/package.json
  apps/web/tsconfig.json
  packages/theme/package.json
  packages/theme/src/colors.ts
  packages/theme/src/index.ts
  packages/theme/tsconfig.json
  tsconfig.eslint.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: '@team/theme' パッケージを pnpm-lock.yaml に追加
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: 検索機能のユーザー入力をリセットし、ショップ情報に予算を追加
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

プロフィールに性別登録機能を実装
  apps/mobile/app/profile/edit.tsx
  apps/mobile/constants/palette.ts
Owners: @TeamH04/mobile-team

プロフィールに生年月登録機能を実装
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/user/UserContext.tsx
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore(ci): remove node cache in security-audit job to avoid path validation error
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

feat: レビュー履歴画面を追加
  apps/mobile/app/_layout.tsx
  apps/mobile/app/review-history.tsx
Owners: @TeamH04/mobile-team

refactor: レビュー履歴の詳細表示と機能メニューを再編成
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

feat: レビュー履歴スクリーンを追加
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
Owners: @TeamH04/mobile-team

feat: マイページ状態管理の基盤を構築
  apps/mobile/features/mypage/MyPageContext.tsx
Owners: @TeamH04/mobile-team

refactor: レビュー履歴の詳細表示と機能メニューを再編成
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

feat: レビュー履歴スクリーンを追加
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
Owners: @TeamH04/mobile-team

fix: モバイルのformat・lintエラーを解消
  apps/mobile/app/_layout.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
Owners: @TeamH04/mobile-team

fix: モバイルのformat・lintエラー修正(2回目)
  apps/mobile/app/_layout.tsx
  apps/mobile/features/mypage/MyPageContext.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
Owners: @TeamH04/mobile-team

refactor(mobile): 状態管理とコード構成の改善
  apps/mobile/app/review-history.tsx
  apps/mobile/constants/TabBarSpacing.ts
  apps/mobile/features/mypage/MyPageContext.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
Owners: @TeamH04/mobile-team

feat: ロゴのレイアウトを調整
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/assets/icons/kaguri.svg
  apps/mobile/components/AppHeader.tsx
Owners: @TeamH04/mobile-team

feat: UIスタイルの調整とアクセントカラーの変更
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/components/AppHeader.tsx
  apps/mobile/constants/palette.ts
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: マイページ画面のアイコンとスタイルを改善
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

feat: react-native-svgのパスを設定し、モジュール解決を改善
  apps/mobile/metro.config.js
Owners: @TeamH04/mobile-team

ロゴ下のヘッダーを短くする
  apps/mobile/app/(tabs)/_layout.tsx
Owners: @TeamH04/mobile-team

docs/AGENTS.mdをもとに修正
  apps/mobile/app/(tabs)/_layout.tsx
Owners: @TeamH04/mobile-team

Update package.json
  package.json
Owners: @TeamH04/core-team

Update apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/edit.tsx
Owners: @TeamH04/mobile-team

Update apps/mobile/app/_layout.tsx
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/mobile-team

Update apps/mobile/package.json
  apps/mobile/package.json
Owners: @TeamH04/core-team

Update apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/edit.tsx
Owners: @TeamH04/mobile-team

Update apps/mobile/app/_layout.tsx
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/mobile-team

Update apps/mobile/app/login.tsx
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

fix: 検索画面のタグ機能を修正
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix: 飲食店メインのカテゴリへ修正
  apps/web/app/HomePageClient.tsx
  packages/shop-core/src/shops.ts
Owners: @TeamH04/core-team

ロゴの位置を気持ち上に調整
  apps/mobile/app/(tabs)/_layout.tsx
Owners: @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
