Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team

refactor: 一括通知のロジックを追加
  .github/scripts/discord-notify.cjs
Owners: @TeamH04/core-team

refactor: PRがopenの時にトリガーされるように修正
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

refactor: TypeScript型チェックを追加し、モバイルのLintステップを省略
  .github/workflows/ci.yml
  package.json
Owners: @TeamH04/core-team

refactor: 不要なビルドジョブを削除し、Dockerビルドプロセスを簡素化
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

refactor: VSCode設定を更新し、フォーマッタとLint設定を統一
  .vscode/extensions.json
  .vscode/settings.json
Owners: @TeamH04/core-team

refactor: PostgreSQL待機アクションを追加し、CIワークフローを改善
  .github/actions/wait-for-postgres/action.yml
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: バックエンドおよびモバイルビルドの依存関係を更新し、テスト結果に基づく条件を追加
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: Expoセットアップアクションを簡素化し、セキュリティ監査ジョブを整理
  .github/actions/expo-setup/action.yml
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: GitHub Actionsのワークフローを簡素化し、セキュリティツールのインストールを追加
  .github/actions/go-setup/action.yml
  .github/actions/pnpm-setup/action.yml
  .github/workflows/backend-deploy.yml
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: 不要なビルドアーティファクトのアップロードステップを削除
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

feat: お気に入り画面に検索・ソート機能を実装
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
Owners: @TeamH04/mobile-team

refactor: importを整理
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
Owners: @TeamH04/mobile-team

fix: FlatListを追加し、フィルタリングロジックを整理
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

refactor: Discord通知スクリプトの型定義を追加し、無駄なフィルタリングを削除
  .github/scripts/discord-notify.cjs
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: lintエラーを修正
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

refactor: アクセシビリティと可読性に対応
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
Owners: @TeamH04/mobile-team

feat: レビュー機能実装
  .env.example
  .gitignore
  README.md
  apps/backend/.air.toml
  apps/backend/Dockerfile
  apps/backend/cmd/server/bootstrap.go
  apps/backend/go.mod
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/middleware/auth.go
  apps/backend/internal/presentation/http_error.go
  apps/backend/internal/router/error.go
  apps/backend/internal/router/router.go
  apps/backend/internal/usecase/user.go
  apps/mobile/.env.example
  apps/mobile/app/login.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  docker-compose.yml
Owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

コンフリ解消とUI調整
  apps/mobile/app/login.tsx
  apps/mobile/constants/palette.ts
Owners: @TeamH04/mobile-team

Security Audit修正
  .github/workflows/ci-cd.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

fix: easコマンドをeas-cliに更新
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

feat: 店舗詳細画面にメニュー一覧を追加
  apps/mobile/app/+not-found.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/menu.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  packages/shop-core/src/shops.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

レビュー画面のヘッダー色の変更
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

fix: EAS CLIのバージョン入力を追加し、Expo CLIのセットアップを改善
  .github/actions/expo-setup/action.yml
Owners: @TeamH04/core-team

setUserにスプレッド構文を追加
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
Owners: @TeamH04/mobile-team

fix: 型安全性の改善（Gender型の導入）
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

fix: ナビゲーション関連のバグ修正
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

fix: UI/UXの改善（ボタン状態・フォールバック表示）
  apps/mobile/app/profile/register.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

refactor: プロフィール編集処理と認証処理の改善
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/features/user/UserContext.tsx
  package.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: update pnpm lockfile
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: add safe route segment check in layout
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/mobile-team

fix: avoid tuple index access in route guard
  apps/mobile/app/_layout.tsx
Owners: @TeamH04/mobile-team

feat: include thumbnail file in store responses
  apps/backend/internal/domain/entity/store.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/repository/model/modeltoentity.go
  apps/backend/internal/repository/store.go
Owners: @TeamH04/backend-team

fix: review create transaction and menu validation
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/usecase/input/review.go
  apps/backend/internal/usecase/review.go
Owners: @TeamH04/backend-team

chore: seed stores, menus, and review relations
  apps/backend/migrations/000002_seed.down.sql
  apps/backend/migrations/000002_seed.up.sql
Owners: @TeamH04/backend-team

feat: fetch stores via API and add stores context
  apps/mobile/app/_layout.tsx
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/features/stores/StoresContext.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/storeMapping.ts
Owners: @TeamH04/mobile-team

feat: add review menu selection and menu fetch
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/lib/api.ts
Owners: @TeamH04/mobile-team

fix: handle empty API responses
  apps/mobile/lib/api.ts
Owners: @TeamH04/mobile-team

fix: add shop map styles
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

chore: lint style order in login screen
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

feat: oauth login flow and user provisioning
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/middleware/auth.go
  apps/backend/internal/security/token.go
  apps/backend/internal/usecase/input/user.go
  apps/backend/internal/usecase/user.go
  apps/mobile/app/auth/callback.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/auth.ts
Owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team
