Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team

feat: Alertのメッセージを正確にする
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

feat: 店舗データから派生店舗を生成する説明を追加
  packages/shop-core/src/shops.ts
Owners: @TeamH04/core-team

fix: READMEのGoバージョン表記を修正
  apps/backend/README.md
Owners: @TeamH04/core-team

fix(mobile): 非推奨のSafeAreaViewを避けて代わりにsafe-area-contextを使用
  apps/mobile/app/(tabs)/_layout.tsx
Owners: @TeamH04/mobile-team

fix(mobile): sha256 PKCE対応のため、WebCryptoのポリフィルを追加
  apps/mobile/app/_layout.tsx
  apps/mobile/polyfills/crypto.ts
Owners: @TeamH04/mobile-team

fix(mocks): MockUserRepository.Updateの引数型をインターフェースに準拠させる
  apps/backend/internal/usecase/testutil/mocks.go
Owners: @TeamH04/backend-team

fix(security): Web Crypto APIポリフィルのインポート順序を修正し、react-native-safe-area-contextを追加
  apps/mobile/app/_layout.tsx
  apps/mobile/package.json
  apps/mobile/polyfills/crypto.ts
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix(security): cryptoポリフィルのグローバルオブジェクトの設定を改善
  apps/mobile/app/_layout.tsx
  apps/mobile/polyfills/crypto.ts
Owners: @TeamH04/mobile-team

feat: CodeQL分析用のワークフローを追加
  .github/workflows/codeql.yml
Owners: @TeamH04/core-team

feat: go-version-fileを使用するように設定を更新
  .github/actions/go-setup/action.yml
  .github/workflows/backend-deploy.yml
  .github/workflows/ci.yml
  apps/backend/Dockerfile
Owners: @TeamH04/core-team, @TeamH04/backend-team

chore: 環境変数周りを修正
  apps/backend/.env.example
  docker-compose.yml
Owners: @TeamH04/backend-team, @TeamH04/core-team

feat: 画像付きレビューの実装
  apps/backend/internal/config/config.go
  apps/backend/internal/handlers/media.go
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/usecase/input/media.go
  apps/backend/internal/usecase/media.go
  apps/backend/internal/usecase/output/storage.go
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/storage.ts
Owners: @TeamH04/backend-team, @TeamH04/core-team, @TeamH04/mobile-team

feat: CodeQL分析用のGoおよびJavaScript/TypeScriptの設定ファイルを追加
  .github/codeql/codeql-config-go.yml
  .github/codeql/codeql-config-javascript.yml
  .github/workflows/codeql.yml
Owners: @TeamH04/core-team

fix: パスフィルターを修正
  .github/workflows/backend-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

feat: レビュー取得時に画像を表示できるようにする
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/handlers/file_urls.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/handlers/store.go
  apps/backend/internal/handlers/user.go
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/usecase/output/storage.go
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/storeMapping.ts
Owners: @TeamH04/backend-team, @TeamH04/core-team, @TeamH04/mobile-team

chore: 依存関係の更新
  .npmrc
  apps/mobile/package.json
  apps/web/app/globals.css
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat: プロフィール編集画面の設定項目を追加
  apps/mobile/app/profile/edit.tsx
Owners: @TeamH04/mobile-team

feat: 新しい店舗データのインポートマイグレーションを追加
  apps/backend/migrations/000004_import_shops_data.down.sql
  apps/backend/migrations/000004_import_shops_data.up.sql
Owners: @TeamH04/backend-team

refactor: プロフィール編集機能を削除し、ルーティングを更新
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

chore: デバッグ用のログを削除
  apps/mobile/app/index.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/lib/api.ts
  apps/mobile/lib/auth.ts
Owners: @TeamH04/mobile-team

chore: 環境変数が未設定の場合にエラーを返す
  apps/backend/internal/config/config.go
Owners: @TeamH04/backend-team

refactor: 設計に関するコメントを追加＋リファクタ
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/handlers/file_urls.go
  apps/backend/internal/infra/supabase/client.go
  apps/mobile/lib/storeMapping.ts
Owners: @TeamH04/backend-team, @TeamH04/core-team, @TeamH04/mobile-team

fix: レビュー項目修正
  apps/backend/migrations/000004_import_shops_data.down.sql
  apps/backend/migrations/000004_import_shops_data.up.sql
Owners: @TeamH04/backend-team

fix: レビュー反映
  apps/backend/migrations/000004_import_shops_data.down.sql
  apps/backend/migrations/000004_import_shops_data.up.sql
Owners: @TeamH04/backend-team

chore: バージョンなど軽微な修正
  apps/mobile/app/profile/edit.tsx
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: 指摘事項修正
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/constants/genres.ts
Owners: @TeamH04/mobile-team

fix: バージョンをハッシュ指定に変更
  .github/workflows/codeql.yml
Owners: @TeamH04/core-team

fix: バージョン指定を修正
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: `pnpm up -r`でバージョンが下がる問題を修正
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix(security): cryptoユーティリティ関数のテストを追加し、関数を分離
  apps/mobile/polyfills/__tests__/crypto-utils.test.ts
  apps/mobile/polyfills/crypto-utils.ts
  apps/mobile/polyfills/crypto.ts
Owners: @TeamH04/mobile-team

fix: 他人のいいねを取得できてしまう不具合を修正
  apps/backend/internal/handlers/favorite.go
Owners: @TeamH04/backend-team

fix ワークフローが落ちる
  apps/mobile/polyfills/crypto.ts
Owners: @TeamH04/mobile-team

feat: 自分のいいねを取得するロジックを修正
  apps/backend/internal/handlers/favorite.go
  apps/backend/internal/router/router.go
  apps/backend/internal/usecase/favorite.go
  apps/backend/internal/usecase/input/favorite.go
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/lib/api.ts
  docs/API設計書.md
Owners: @TeamH04/backend-team, @TeamH04/mobile-team, @TeamH04/core-team

feat: レビュー箇所修正
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/lib/api.ts
Owners: @TeamH04/mobile-team

feat: 店舗詳細画面におけるUI修正
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/lib/storeMapping.ts
  packages/shop-core/src/shops.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: お気に入り機能に操作中判定を追加し、メモリリーク対策を実施
  apps/mobile/features/favorites/FavoritesContext.tsx
Owners: @TeamH04/mobile-team

feat: メニュー画面のスタイルと機能を改善し、APIからメニューを取得する機能を追加
  apps/mobile/app/menu.tsx
Owners: @TeamH04/mobile-team

feat: iOSのbundleIdentifierを追加し、react-native-reanimatedのバージョンを更新、Supabase関連の環境変数を削除
  apps/mobile/app.json
  apps/mobile/package.json
  docker-compose.yml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: react-native-reanimatedのバージョンを4.1.6に更新し、eslintの依存関係を整理
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix(dependencies): react-native-reanimatedのバージョンを4.1.1に変更し、eslint関連の依存関係を整理
  pnpm-lock.yaml
Owners: @TeamH04/core-team
