Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

NativeWind設定とLint対応
  apps/mobile/metro.config.js
  eslint.config.js
  nativewind-env.d.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

Expo整合の依存バージョン調整
  apps/mobile/package.json
Owners: @TeamH04/core-team

Vercelビルド用のTailwindをdependenciesへ移動
  apps/web/package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: 依存関係のバージョンを更新し、tailwindcssの設定を整理
  pnpm-lock.yaml
Owners: @TeamH04/core-team

chore: copilotへのレビュー依頼をdiscordに通知しないようにする
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

chore: copilotへのレビュー依頼はdiscordの通知から除外する
  .github/workflows/discord-notify.yml
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/core-team, @TeamH04/mobile-team

chore: 対象をcopilotのみにする
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

refactor: Copilot判定を部分一致から厳密なユーザー名比較に変更
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

fix: "yuu61"をdiscord-mapに追加
  .github/discord-map.json
Owners: @TeamH04/core-team

Composite Actionsの追加
  .github/actions/expo-setup/action.yml
  .github/actions/go-setup/action.yml
  .github/actions/pnpm-setup/action.yml
Owners: @TeamH04/core-team

CIワークフローの再構成
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

バックエンドデプロイのリファクタリング
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

モバイルデプロイのリファクタリング
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

`discord-notify`のスクリプト部分を分離
  .github/scripts/discord-notify.js
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

lintエラー修正
  .github/scripts/discord-notify.js
Owners: @TeamH04/core-team

GitHub Actionsの依存関係を最新のバージョンに更新
  .github/actions/expo-setup/action.yml
  .github/actions/go-setup/action.yml
  .github/actions/pnpm-setup/action.yml
  .github/workflows/backend-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/discord-notify.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

Update apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

Update apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/edit.tsx
Owners: @TeamH04/mobile-team

権限エラーを修正
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

coverageファイルの指定を修正
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

GitHub Actionsのワークフロー構造を追加し、Node.jsおよびGoのバージョンを更新
  .github/GITHUB_SETUP.md
Owners: @TeamH04/core-team

GitHub Actionsのワークフローのトリガー表を整形
  .github/GITHUB_SETUP.md
Owners: @TeamH04/core-team

fix: tsconfig.json の設定エラーを修正
  packages/shop-core/tsconfig.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
  tsconfig.eslint.json
  tsconfig.json
Owners: @TeamH04/core-team

feat: Goビルドアーティファクトのキャッシュを追加
  .github/actions/go-setup/action.yml
Owners: @TeamH04/core-team

fix: Dockerビルドキャッシュの設定を更新
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

feat: GitHub Actionsのワークフローに変更検出機能を追加
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

HomeScreen.tsxにあるリセット処理のバグ修正
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

fix: Goビルドキャッシュのキーを修正
  .github/actions/go-setup/action.yml
Owners: @TeamH04/core-team

refactor: GitHub Actionsのワークフローを整理し、デプロイ手順を追加
  .github/workflows/backend-deploy.yml
Owners: @TeamH04/core-team

refactor: CIワークフローの改善とベンチマーク結果のコメント機能を追加
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: GitHub Actionsのワークフローを改善し、環境変数の設定を追加
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

refactor: Codecovアップロードステップの設定を改善し、エラーフラグを無効化
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: Codecovアップロードステップでエラーフラグを無効化し、エラー時も継続するように変更
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

refactor: GitHub Actionsのワークフローを改善し、EAS Updateのコマンドを修正
  .github/workflows/ci.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

refactor: Discord通知スクリプトを新規作成し、GitHub Actionsのワークフローを更新
  .github/scripts/discord-notify.cjs
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

refactor: GitHub ActionsのワークフローにPostgreSQLの準備待機ステップを追加し、ビルドジョブの権限を明示化
  .github/workflows/ci.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

店舗詳細画面と店舗登録画面のヘッダー色を変更
  apps/mobile/app/_layout.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

refactor: ファイル名を更新
  .github/GITHUB_SETUP.md
Owners: @TeamH04/core-team

ヘッダーの定数定義
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/constants/layout.ts
Owners: @TeamH04/mobile-team

refactor: Discord通知スクリプトの存在確認を追加し、エラーハンドリングを強化
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
