Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team

chore: 環境周り整理
  .gitignore
  apps/backend/.env.example
  apps/mobile/package.json
Owners: @TeamH04/core-team, @TeamH04/backend-team

chore: fix biome error
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/auth/callback.tsx
  apps/mobile/app/index.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/index.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/Collapsible.tsx
  apps/mobile/components/ExternalLink.tsx
  apps/mobile/components/HapticTab.tsx
  apps/mobile/components/ui/IconSymbol.ios.tsx
  apps/mobile/components/ui/IconSymbol.tsx
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/stores/StoresContext.tsx
  apps/mobile/features/user/UserContext.tsx
  apps/mobile/features/visited/VisitedContext.tsx
  apps/mobile/features/visited/__tests__/VisitedContext.test.tsx
  apps/mobile/hooks/useSocialAuth.ts
  apps/mobile/lib/storeMapping.ts
  apps/mobile/lib/supabase.ts
Owners: @TeamH04/mobile-team

fix: CI error
  .github/actions/go-setup/action.yml
Owners: @TeamH04/core-team

fix: CI error
  .github/workflows/backend-deploy.yml
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

chore: fix dockerfile
  apps/backend/Dockerfile
Owners: @TeamH04/backend-team

プロフィール編集画面などの「戻る」ボタンを他のものと統一
  apps/mobile/app/profile/_layout.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

戻るボタンを再利用可能なコンポーネントとして抽出
  apps/mobile/app/profile/_layout.tsx
  apps/mobile/components/BackButton.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

tsconfig: update JSX setting for mobile and main configurations
  apps/mobile/tsconfig.json
  tsconfig.json
Owners: @TeamH04/core-team

feat: 同じ店舗の別支店を追加
  packages/shop-core/src/shops.ts
Owners: @TeamH04/core-team

メニュー表にレビューが表示されるバグ修正とヘッダーの色修正
  apps/mobile/app/menu.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

feat(backend): フロントエンド統合用のストアフィールドを追加
  apps/backend/internal/domain/entity/store.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/repository/model/modeltoentity.go
  apps/backend/internal/repository/store.go
  apps/backend/internal/usecase/errors.go
  apps/backend/internal/usecase/media.go
  apps/backend/internal/usecase/review.go
  apps/backend/migrations/000003_add_store_fields.down.sql
  apps/backend/migrations/000003_add_store_fields.up.sql
Owners: @TeamH04/backend-team

feat(backend): パブリックレビューエンドポイントで無効なトークンを許可する
  apps/backend/internal/handlers/review.go
Owners: @TeamH04/backend-team

feat(mobile): ストアAPIフィールドを統合
  apps/mobile/lib/api.ts
  apps/mobile/lib/storeMapping.ts
Owners: @TeamH04/mobile-team

fix(mobile): expo-image-pickerの依存関係を修正
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

Android版のホーム画面の背景同化を修正
  apps/mobile/app/+not-found.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

メニューの価格を更新
  packages/shop-core/src/shops.ts
Owners: @TeamH04/core-team

feat: ドキュメントを最新版へ修正
  README.md
  apps/backend/README.md
  apps/mobile/README.md
  apps/web/README.md
  docs/AGENTS.md
  docs/API設計書.md
  docs/DB設計書.md
  docs/PRD.md
  docs/screen-flow.md
Owners: @TeamH04/core-team

背景色を定義しなおし、他の画面にも枠線を追加して見やすくする
  apps/mobile/constants/palette.ts
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix(backend): エラーハンドリングを改善
  apps/backend/go.mod
  apps/backend/internal/repository/favorite.go
  apps/backend/internal/repository/store.go
  apps/backend/internal/usecase/favorite.go
  apps/backend/internal/usecase/review.go
Owners: @TeamH04/backend-team

refactor(usecase): ヘルパー関数を追加しDRY原則に準拠
  apps/backend/internal/usecase/admin.go
  apps/backend/internal/usecase/errors.go
  apps/backend/internal/usecase/favorite.go
  apps/backend/internal/usecase/helpers.go
  apps/backend/internal/usecase/menu.go
  apps/backend/internal/usecase/report.go
  apps/backend/internal/usecase/review.go
  apps/backend/internal/usecase/store.go
  apps/backend/internal/usecase/user.go
Owners: @TeamH04/backend-team

refactor(handlers): ヘルパー関数を追加しCommand構造体を削除
  apps/backend/internal/handlers/auth.go
  apps/backend/internal/handlers/favorite.go
  apps/backend/internal/handlers/http_helpers.go
  apps/backend/internal/handlers/menu.go
  apps/backend/internal/handlers/report.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/handlers/store.go
  apps/backend/internal/handlers/user.go
Owners: @TeamH04/backend-team

refactor(repository,presenter): Preload共通化とジェネリック関数追加
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/store.go
Owners: @TeamH04/backend-team

fix: lint error
  apps/mobile/lib/storeMapping.ts
Owners: @TeamH04/mobile-team

test(testutil): モックとヘルパー関数を実装
  apps/backend/internal/handlers/testutil/helpers.go
  apps/backend/internal/handlers/testutil/mocks.go
  apps/backend/internal/repository/testutil/db.go
  apps/backend/internal/usecase/testutil/mocks.go
Owners: @TeamH04/backend-team

test(apperr): apperrパッケージのテストを実装
  apps/backend/internal/apperr/apperr_test.go
Owners: @TeamH04/backend-team

test(security): トークンテストを実装
  apps/backend/internal/security/token_test.go
Owners: @TeamH04/backend-team

test(middleware): ミドルウェア
  apps/backend/internal/middleware/auth_test.go
Owners: @TeamH04/backend-team

ユースケースレイヤーのテスト
  apps/backend/internal/repository/favorite_test.go
  apps/backend/internal/repository/store_test.go
  apps/backend/internal/repository/user_test.go
Owners: @TeamH04/backend-team

test(usecase): ユースケース
  apps/backend/internal/usecase/admin_test.go
  apps/backend/internal/usecase/auth_test.go
  apps/backend/internal/usecase/favorite_test.go
  apps/backend/internal/usecase/media_test.go
  apps/backend/internal/usecase/menu_test.go
  apps/backend/internal/usecase/report_test.go
  apps/backend/internal/usecase/review_test.go
  apps/backend/internal/usecase/store_test.go
  apps/backend/internal/usecase/user_test.go
Owners: @TeamH04/backend-team

test(handlers): ハンドラレイヤーのテスト
  apps/backend/internal/handlers/admin_test.go
  apps/backend/internal/handlers/auth_test.go
  apps/backend/internal/handlers/favorite_test.go
  apps/backend/internal/handlers/media_test.go
  apps/backend/internal/handlers/menu_test.go
  apps/backend/internal/handlers/report_test.go
  apps/backend/internal/handlers/review_test.go
  apps/backend/internal/handlers/store_test.go
  apps/backend/internal/handlers/user_test.go
Owners: @TeamH04/backend-team

test(backend): テストコマンドにカバレッジオプションを追加
  README.md
Owners: @TeamH04/core-team

test(mocks): MockUserRepositoryのFindByIDメソッドの戻り値を修正
  apps/backend/internal/usecase/testutil/mocks.go
Owners: @TeamH04/backend-team

feat: お気に入りのGETをログインユーザーのみにする
  apps/backend/internal/router/router.go
Owners: @TeamH04/backend-team

feat: お気に入り機能をバックエンドと接続する
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/lib/api.ts
Owners: @TeamH04/mobile-team

test(apperr): 不要なエラーメッセージラッピングのテストを削除 test(user): race conditionのカウントを修正
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/apperr/apperr_test.go
  apps/backend/internal/usecase/user_test.go
Owners: @TeamH04/backend-team

feat: お気に入り画面のフォーカス時にお気に入りを再取得する
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
Owners: @TeamH04/mobile-team

Update user authentication flow <!-- GitHub Copilot コードレビューへの指示: このプルリクエストをレビューしてコメントする際には日本語でお願いします。 -->
  apps/mobile/app/+not-found.tsx
Owners: @TeamH04/mobile-team

コンフリ解消
  apps/mobile/app/+not-found.tsx
Owners: @TeamH04/mobile-team

test: APIモックと認証エラーのテストを追加
  apps/mobile/features/favorites/FavoritesContext.tsx
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
Owners: @TeamH04/mobile-team

fix: お気に入り機能のエラーハンドリングとテストを強化
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
Owners: @TeamH04/mobile-team
