Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

refactor(web): インラインスタイルをCSS変数に移行
  apps/web/README.md
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/theme-vars.css
Owners: @TeamH04/core-team

refactor(mobile): 共有テーマからtypographyとpaletteを使用
  apps/mobile/components/AnimatedLoginBackground.tsx
  apps/mobile/constants/typography.ts
  packages/mobile-ui/src/palette.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

docs: テーマ使用方法とコマンドのドキュメントを更新
  AGENTS.md
  docs/commands.md
  docs/packages.md
Owners: @TeamH04/core-team

refactor: 重複コードの削減
  apps/backend/internal/usecase/user.go
Owners: @TeamH04/backend-team

feat(types): SortType, RatingDetails, ReviewSort 型を追加
  packages/types/src/index.ts
Owners: @TeamH04/core-team

refactor(shop-core): createFullStorage と StorageUrlResolver を追加
  packages/shop-core/package.json
  packages/shop-core/src/__tests__/sorting.test.ts
  packages/shop-core/src/index.ts
  packages/shop-core/src/mapping.ts
  packages/shop-core/src/sorting.ts
  packages/shop-core/src/storage.ts
  packages/shop-core/src/storeMapping.ts
  packages/shop-core/src/types.ts
Owners: @TeamH04/core-team

feat(api): createReview に rating_details サポートを追加
  packages/api/src/index.ts
Owners: @TeamH04/core-team

refactor(constants): UI_LABELS と ERROR_MESSAGES を使用するよう統一
  packages/constants/src/authMessages.ts
  packages/constants/src/sort.ts
Owners: @TeamH04/core-team

refactor(auth-client): safeAuthCall ヘルパー関数を追加
  packages/auth-client/src/__tests__/authClient.test.ts
  packages/auth-client/src/authClient.ts
Owners: @TeamH04/core-team

refactor(hooks): useFavoriteToggle と useReviewsState を最適化
  packages/hooks/src/useFavoriteToggle.ts
  packages/hooks/src/useReviewsState.ts
Owners: @TeamH04/core-team

refactor(mobile): ローカル定数を削除し @team パッケージに統一
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/menu.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/constants/TabBarSpacing.ts
  apps/mobile/constants/__tests__/genres.test.ts
  apps/mobile/constants/genres.ts
  apps/mobile/constants/layout.ts
  apps/mobile/constants/sortOptions.ts
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/hooks/useAuthMe.ts
  apps/mobile/lib/api.ts
  apps/mobile/lib/api/index.ts
  apps/mobile/lib/profile.ts
  apps/mobile/lib/storage/index.ts
  apps/mobile/package.json
  apps/web/lib/storage.ts
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: テストとドキュメントを更新
  AGENTS.md
  apps/backend/internal/infra/supabase/client_test.go
  apps/backend/internal/usecase/user_test.go
  docs/commands.md
  docs/packages.md
  packages/file-utils/src/__tests__/test-helpers.ts
  packages/mobile-ui/src/inputStyles.ts
  packages/theme/scripts/generate-css-vars.ts
Owners: @TeamH04/core-team, @TeamH04/backend-team

fix(constants): ReDoS脆弱性のあるメール正規表現を修正
  packages/constants/src/validation.ts
Owners: @TeamH04/core-team

fix(favorites): 未認証時にお気に入りをクリアするよう修正
  apps/mobile/features/favorites/FavoritesContext.tsx
Owners: @TeamH04/mobile-team

refactor(mobile): 未使用のFONT_WEIGHTインポートとRatingDetailsDisplayを削除
  apps/mobile/features/favorites/screens/FavoritesScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

style(shop-core): import orderを修正
  packages/shop-core/src/mapping.ts
  packages/shop-core/src/storeMapping.ts
Owners: @TeamH04/core-team

chore(tools): migrateとgolangci-lintとgofumptのバージョンを更新
  apps/backend/Makefile
Owners: @TeamH04/core-team

feat(makefile): frontendを立ち上げるためのmakeコマンドの追加
  Makefile
Owners: @TeamH04/core-team

chore: パッケージの依存関係に伴うバージョンの修正
  pnpm-lock.yaml
Owners: @TeamH04/core-team

chore: バージョンを更新
  apps/backend/Makefile
  packages/theme/package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix(api): normalizeBaseUrlの条件演算子を修正
  packages/api/src/index.ts
Owners: @TeamH04/core-team

feat: リクエストロギングの設定を強化
  apps/backend/internal/router/router.go
Owners: @TeamH04/backend-team

fix(router): ログ出力条件のコメントアウトを訂正
  apps/backend/internal/router/router.go
Owners: @TeamH04/backend-team

test(router): リクエストのエラーステータスを確認するテストを追加
  apps/backend/internal/router/router_test.go
Owners: @TeamH04/backend-team

feat(@team/shop-core): カテゴリ・タグ抽出とソートラベルユーティリティを追加
  packages/shop-core/src/shopUtils.ts
  packages/shop-core/src/sorting.ts
Owners: @TeamH04/core-team

feat(@team/hooks): useSearchHistoryStorage フックを追加
  packages/hooks/src/index.ts
  packages/hooks/src/useSearchHistoryStorage.ts
Owners: @TeamH04/core-team

feat(@team/constants): DEFAULT_SEARCH_SORT_ORDERS を追加
  packages/constants/src/index.ts
  packages/constants/src/sort.ts
Owners: @TeamH04/core-team

refactor(@team/hooks): useSearchState の重複コードを削除
  packages/hooks/src/useSearchState.ts
Owners: @TeamH04/core-team

fix(mobile): 検索履歴が保持されないバグを修正 (#188)
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

Create LICENSE
  LICENSE
Owners: @TeamH04/core-team

fix(hooks): 検索履歴のロード競合問題を修正
  packages/hooks/src/useSearchHistoryStorage.ts
Owners: @TeamH04/core-team

test: PRコメント対応とテスト品質改善
  packages/hooks/package.json
  packages/hooks/src/__tests__/useSearchHistoryStorage.test.tsx
  packages/hooks/src/useSearchHistoryStorage.ts
  packages/shop-core/src/__tests__/shopUtils.test.ts
  packages/shop-core/src/__tests__/sorting.test.ts
  packages/shop-core/src/shopUtils.ts
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat: レビュー詳細評価の表示機能を追加
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/ShopCard.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  packages/hooks/src/reviewMapping.ts
  packages/mobile-ui/src/cardTypes.ts
  packages/mobile-ui/src/components/GenreChipSelector.tsx
  packages/mobile-ui/src/components/ToggleButton.tsx
  packages/mobile-ui/src/palette.ts
  packages/types/src/index.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: pre-commitフックがフォーマッター失敗時に継続していた問題を修正
  Makefile
Owners: @TeamH04/core-team

feat(hooks): useUserState にユーザー復元機能を追加
  packages/hooks/src/index.ts
  packages/hooks/src/useUserState.ts
Owners: @TeamH04/core-team

test(hooks): useUserState のテストを追加
  packages/hooks/src/__tests__/useUserState.test.tsx
Owners: @TeamH04/core-team

feat(mobile): ログイン状態の復元を有効化 (#254)
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

feat(backend): 駅関連の機能を追加
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/domain/entity/station.go
  apps/backend/internal/handlers/station.go
  apps/backend/internal/repository/model/station.go
  apps/backend/internal/repository/station.go
  apps/backend/internal/router/endpoints.go
  apps/backend/internal/router/router.go
  apps/backend/internal/usecase/input/station.go
  apps/backend/internal/usecase/output/station.go
  apps/backend/internal/usecase/station.go
Owners: @TeamH04/backend-team

feat: 駅情報のAPIタイプとバリデーションステップを追加
  apps/mobile/lib/api.ts
  packages/api/src/index.ts
  packages/mobile-ui/src/index.ts
  packages/types/src/index.ts
  packages/validators/src/shop-registration.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: メニューの背景色を定数から取得するように変更
  apps/mobile/app/menu.tsx
  packages/mobile-ui/src/palette.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
