Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

fix: toUint8Array関数を追加し、正常にログインができるように修正
  apps/mobile/polyfills/__tests__/crypto-utils.test.ts
  apps/mobile/polyfills/crypto-utils.ts
  apps/mobile/polyfills/crypto.ts
Owners: @TeamH04/mobile-team

feat: toggleGenre関数を共通化しテストを追加
  apps/mobile/app/profile/edit.tsx
  apps/mobile/constants/__tests__/genres.test.ts
  apps/mobile/constants/genres.ts
Owners: @TeamH04/mobile-team

feat: メニュー画面のリファクタリングとAPIからのデータ取得機能の改善
  apps/mobile/app/menu.tsx
  apps/mobile/lib/api.ts
  apps/web/lib/api.ts
  packages/types/src/index.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 新しいストアマッピング機能を追加し、APIからのデータを適切にマッピング
  apps/mobile/lib/storeMapping.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/web/lib/storeMapping.ts
  apps/web/package.json
  apps/web/tsconfig.json
  packages/types/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat: タイプ定義を追加し、メニューアイテムの正規化処理を改善
  apps/mobile/app/menu.tsx
Owners: @TeamH04/mobile-team

fix: メニュー画面のアクセシビリティと価格表示を改善
  apps/mobile/app/menu.tsx
Owners: @TeamH04/mobile-team

fix: pnpm format
  apps/mobile/constants/genres.ts
Owners: @TeamH04/mobile-team

feat: .env.exampleに必要な環境変数を追加
  apps/backend/.env.example
Owners: @TeamH04/backend-team

fix: ヘッダーの背景色の取得ロジックを修正し、テーマに応じた色を適切に設定
  apps/mobile/components/ParallaxScrollView.tsx
  apps/mobile/hooks/useThemeColor.ts
Owners: @TeamH04/mobile-team

chore: supabaseのkey変更による修正
  .env.example
  apps/backend/.env.example
  apps/backend/README.md
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/config/config.go
  apps/backend/internal/infra/supabase/client.go
  apps/mobile/.env.example
  apps/mobile/README.md
  apps/mobile/app/login.tsx
  apps/mobile/app/owner/login.tsx
  apps/mobile/constants/genres.ts
  apps/mobile/hooks/useSocialAuth.ts
  apps/mobile/lib/supabase.ts
  apps/mobile/types/env.d.ts
Owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

refactor: ロジックのリファクタ
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/middleware/auth.go
  apps/backend/internal/middleware/auth_test.go
  apps/backend/internal/security/token.go
Owners: @TeamH04/core-team, @TeamH04/backend-team

fix: digest関数でのデータ処理を修正し、Uint8Arrayを使用するように変更
  apps/mobile/polyfills/crypto.ts
Owners: @TeamH04/mobile-team

chore: 神戸市の駅を保存するstationsテーブルを追加
  apps/backend/migrations/000005_add_stations.down.sql
  apps/backend/migrations/000005_add_stations.up.sql
  apps/mobile/constants/genres.ts
Owners: @TeamH04/backend-team, @TeamH04/mobile-team

chore: レビュー箇所修正
  apps/backend/migrations/000005_add_stations.down.sql
  apps/backend/migrations/000005_add_stations.up.sql
Owners: @TeamH04/backend-team

feat: タブレイアウトのスタイルを修正し、SafeAreaViewを更新
  apps/mobile/app/(tabs)/_layout.tsx
  packages/types/src/index.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: ショップリストにブースト機能を追加し、カテゴリーラベルを正規化
  apps/mobile/constants/palette.ts
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

feat: 駅エリア情報を追加し、店舗マッピングに統合
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/lib/stationArea.ts
  apps/mobile/lib/storeMapping.ts
Owners: @TeamH04/mobile-team

feat: レビュー投稿画面にステップ形式の評価機能を追加
  apps/mobile/app/shop/[id]/review.tsx
  packages/shop-core/src/shops.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

レビュー指摘事項修正
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/lib/storeMapping.ts
  packages/shop-core/src/shops.ts
  packages/types/src/index.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 共通テストユーティリティパッケージを追加
  packages/test-utils/package.json
  packages/test-utils/src/fixtures.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/mocks.ts
Owners: @TeamH04/core-team

feat(shop-core): 店舗データ変換・検索ロジックを共通化
  packages/shop-core/package.json
  packages/shop-core/src/__tests__/mapping.test.ts
  packages/shop-core/src/constants.ts
  packages/shop-core/src/index.ts
  packages/shop-core/src/mapping.ts
  packages/shop-core/src/search.ts
  packages/shop-core/src/shops.ts
  packages/shop-core/tsconfig.json
  packages/types/src/index.ts
Owners: @TeamH04/core-team

feat(web): Vitestテスト基盤をセットアップ
  apps/web/app/__tests__/HomePageClient.test.tsx
  apps/web/lib/__tests__/api.test.ts
  apps/web/package.json
  apps/web/test-utils/fixtures.ts
  apps/web/test-utils/index.ts
  apps/web/test-utils/mocks.tsx
  apps/web/test-utils/shop-core-mock.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
Owners: @TeamH04/core-team

feat(mobile): テスト基盤をセットアップ
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/features/owner/logic/__tests__/shop-registration.test.ts
  apps/mobile/features/reviews/__tests__/ReviewsContext.test.tsx
  apps/mobile/features/stores/__tests__/StoresContext.test.tsx
  apps/mobile/features/user/__tests__/UserContext.test.tsx
  apps/mobile/features/visited/__tests__/VisitedContext.test.tsx
  apps/mobile/lib/__tests__/auth.test.ts
  apps/mobile/package.json
  apps/mobile/polyfills/__tests__/crypto-utils.test.ts
  apps/mobile/test-utils/fixtures.ts
  apps/mobile/test-utils/harness.tsx
  apps/mobile/test-utils/index.ts
  apps/mobile/test-utils/setup.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: ESLint/Prettier/pre-commit設定を改善
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .prettierrc
  Makefile
  README.md
  apps/mobile/README.md
  apps/mobile/declarations.d.ts
  apps/mobile/scripts/reset-project.js
  apps/mobile/tsconfig.json
  apps/web/README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
Owners: @TeamH04/core-team, @TeamH04/mobile-team

fix: バックエンドのテスト・ハンドラー修正
  apps/backend/internal/handlers/favorite_test.go
  apps/backend/internal/handlers/media_test.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/handlers/review_test.go
  apps/backend/internal/handlers/store_test.go
  apps/backend/internal/handlers/testutil/mocks.go
  apps/backend/internal/handlers/user_test.go
  apps/backend/internal/security/token_test.go
  apps/backend/internal/usecase/favorite_test.go
  apps/backend/internal/usecase/media_test.go
Owners: @TeamH04/backend-team

feat: テストユーティリティのパスをtsconfigに追加
  apps/mobile/features/stores/__tests__/StoresContext.test.tsx
  apps/mobile/tsconfig.json
  apps/web/tsconfig.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

refactor(backend): APIハンドラーとテストの改善
  apps/backend/Dockerfile
  apps/backend/Makefile
  apps/backend/README.md
  apps/backend/internal/domain/role/constants.go
  apps/backend/internal/handlers/favorite_test.go
  apps/backend/internal/handlers/media_test.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/handlers/review_test.go
  apps/backend/internal/handlers/store.go
  apps/backend/internal/handlers/store_test.go
  apps/backend/internal/handlers/testutil/mocks.go
  apps/backend/internal/handlers/user_test.go
  apps/backend/internal/infra/http/constants.go
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/repository/model/modeltoentity.go
  apps/backend/internal/router/endpoints.go
  apps/backend/internal/router/router.go
  apps/backend/internal/security/token_test.go
  apps/backend/internal/usecase/favorite_test.go
  apps/backend/internal/usecase/helpers.go
  apps/backend/internal/usecase/media_test.go
  apps/backend/internal/usecase/testutil/mocks.go
  apps/backend/internal/usecase/user.go
Owners: @TeamH04/backend-team, @TeamH04/core-team

refactor(web): 共通パッケージの適用とテスト追加
  apps/web/README.md
  apps/web/app/HomePageClient.tsx
  apps/web/app/__tests__/HomePageClient.test.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/shop/[id]/ShopDetail.tsx
  apps/web/app/shop/[id]/__tests__/ShopDetail.test.tsx
  apps/web/app/shop/[id]/page.tsx
  apps/web/lib/api.ts
  apps/web/lib/storage.ts
  apps/web/lib/storeMapping.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/test-utils/index.ts
  apps/web/test-utils/mocks.tsx
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
Owners: @TeamH04/core-team

chore: CI設定とプロジェクト構成の更新
  .github/actions/expo-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitignore
  .prettierignore
  .prettierrc
  Makefile
  README.md
  docker-compose.yml
  docs/development.md
  docs/windows-setup.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.eslint.json
Owners: @TeamH04/core-team

refactor(web): shop-core-mockで共通パッケージを使用
  apps/web/test-utils/shop-core-mock.ts
Owners: @TeamH04/core-team

fix(security): CodeQL警告の修正
  .github/workflows/backend-deploy.yml
  .github/workflows/ci.yml
  apps/backend/internal/config/config.go
  apps/backend/internal/router/error.go
Owners: @TeamH04/core-team, @TeamH04/backend-team

fix(tests): パスを修正
  apps/web/app/shop/[id]/__tests__/ShopDetail.test.tsx
  apps/web/tsconfig.json
Owners: @TeamH04/core-team

fix(validation): Email validation regexのReDoS対策を追加
  packages/constants/src/validation.ts
Owners: @TeamH04/core-team

chore: Turborepo導入
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @TeamH04/core-team

feat: location-utilsパッケージを追加
  apps/mobile/lib/stationArea.ts
  apps/mobile/package.json
  packages/location-utils/package.json
  packages/location-utils/src/index.ts
  packages/location-utils/tsconfig.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: 共通パッケージのpackage.json標準化
  packages/api/package.json
  packages/constants/package.json
  packages/core-utils/package.json
  packages/crypto-utils/package.json
  packages/hooks/package.json
  packages/mobile-ui/package.json
  packages/shop-core/package.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/theme/package.json
  packages/types/package.json
  packages/validators/package.json
Owners: @TeamH04/core-team

chore: Turborepo対応のMakefile更新
  Makefile
  apps/backend/Makefile
  turbo.json
Owners: @TeamH04/core-team

docs: ドキュメント更新（Turborepo対応）
  AGENTS.md
  README.md
  apps/mobile/README.md
  apps/web/README.md
  apps/web/package.json
  docs/AGENTS.md
  docs/development.md
Owners: @TeamH04/core-team

chore: 開発ツール追加
  .gitignore
  scripts/create-package.mjs
Owners: @TeamH04/core-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
