Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

feat: 検索画面にタグ機能追加
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

ホーム画面のタイトルをSVGアイコンに差し替える
  apps/mobile/assets/icons/hero-title.svg
  apps/mobile/declarations.d.ts
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/metro.config.js
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 検索画面にカテゴリ選択機能を追加し、検索条件の表示を改善
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

feat: 検索画面のタグ機能修正
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

コードの書き方を一部修正
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/package.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

ロゴの背景透過とサイズダウン
  apps/mobile/assets/icons/hero-title.svg
  apps/mobile/features/home/screens/HomeScreen.tsx
  eslint.config.js
Owners: @TeamH04/mobile-team, @TeamH04/core-team

ロゴの背景透過とサイズ変更
  eslint.config.js
  tsconfig.eslint.json
Owners: @TeamH04/core-team

pnpm run lint問題
  eslint.config.js
  pnpm-lock.yaml
  tsconfig.eslint.json
Owners: @TeamH04/core-team

修正
  .github/workflows/ci-cd.yml
  apps/mobile/eslint.config.js
  apps/mobile/package.json
Owners: @TeamH04/core-team

MobileBuildCheck修正
  apps/mobile/metro.config.cjs
Owners: @TeamH04/mobile-team

修正
  apps/mobile/eslint.config.mjs
  apps/mobile/metro.config.js
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

修正
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

fix: 編集ボタン周りの整理
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

GoogleとAppleでのログインを削除とプチエラー表示
  apps/mobile/app/owner/login.tsx
  apps/mobile/app/owner/signup.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  tsconfig.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: コンフリクト解消によるエラーの修正
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

Android版の検索・お気に入りボタンの表示
  apps/mobile/components/ui/IconSymbol.tsx
Owners: @TeamH04/mobile-team

feat: 検索画面にソート機能を追加し、ショップデータに作成日とオープン日を追加
  apps/mobile/features/search/screens/SearchScreen.tsx
  packages/shop-core/src/shops.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

refactor: 不要な空行を削除
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

オーナー設定時に開店日を入力必須にする
  apps/mobile/app/owner/signup.tsx
Owners: @TeamH04/mobile-team

閏年や存在しない日付はエラーを返すように改善
  apps/mobile/app/owner/signup.tsx
Owners: @TeamH04/mobile-team

CI/CD修正
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

ジャンル未選択の場合、ログイン後ジャンル選択画面に遷移するよう変更
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

feat(backend): Add place_id support to store API
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/domain/store.go
  apps/backend/internal/handlers/store.go
  apps/backend/internal/presentation/httpadapter/store.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/usecase/input/store.go
  apps/backend/internal/usecase/store.go
  apps/backend/internal/usecase/store_test.go
  apps/backend/migrations/000001_init.up.sql
Owners: @TeamH04/backend-team

feat(shop-core): Add placeId to Shop type
  package.json
  packages/shop-core/src/shops.ts
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat(ui): Add map links to store detail screens
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/hooks/useColorScheme.web.ts
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/web/app/shop/[id]/ShopDetail.tsx
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 店舗詳細画面にレビュー投稿機能を追加し、メニュー情報を整理
  apps/mobile/components/Collapsible.tsx
  apps/mobile/components/ui/IconSymbol.tsx
  apps/mobile/features/home/data/shops.ts
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

プレースホルダ辺りの調整とエラー文修正
  apps/mobile/app/owner/signup.tsx
Owners: @TeamH04/mobile-team

修正反映
  apps/mobile/app/owner/signup.tsx
Owners: @TeamH04/mobile-team

ジャンル登録機能を実装
  apps/mobile/app/_layout.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

fix(HomeScreen): remove selectedCategory dependency from useEffect
  apps/mobile/features/home/screens/HomeScreen.tsx
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 検索結果が0件の時に表示する画像を追加し、スタイルを調整
  apps/mobile/assets/images/Kuguri_search-Photoroom.png
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix: 店舗詳細画面のUI崩れを修正
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

Update packages/shop-core/src/shops.ts
  packages/shop-core/src/shops.ts
Owners: @TeamH04/core-team

コードのリファクタ
  apps/mobile/app/owner/signup.tsx
Owners: @TeamH04/mobile-team

chore: GitHub Actionsのcheckoutアクションをv4からv6にアップグレード
  .github/workflows/backend-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/discord-notify.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

fix: 店舗詳細画面のズレととアイコンの定義及び几帳なコードのリファクタリング
  apps/mobile/components/ui/IconSymbol.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  packages/shop-core/src/shops.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

chore: GitHub ActionsのNode.jsおよびExpo CLIのセットアップにwithオプションを追加
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

タイトルを追加＆カラー定義を共通化
  apps/mobile/app/profile/edit.tsx
  apps/mobile/app/profile/register.tsx
  apps/mobile/constants/palette.ts
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

fix: 検索画面のUI修正
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

chore: upgrade GitHub Actions
  .github/actions/setup-go/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/backend-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/discord-notify.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
