Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team

feat: アクセスステップの型定義を追加
  apps/mobile/features/owner/logic/shop-registration.ts
  packages/validators/src/index.ts
  packages/validators/src/shop-registration.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 評価値の表示ロジックを修正
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

feat: カテゴリ評価を追加
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

feat: 店舗カードにおすすめカテゴリ表示機能を追加
  apps/mobile/components/ShopCard.tsx
  packages/mobile-ui/src/cardTypes.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: 駅選択コンポーネントを追加し、店舗登録画面にアクセス情報を統合
  apps/mobile/app/owner/register-shop.tsx
  packages/mobile-ui/src/components/StationSelect.tsx
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: GenreChipSelectorから未使用のフォントウェイトを削除
  packages/mobile-ui/src/components/GenreChipSelector.tsx
  packages/theme/src/typography.ts
Owners: @TeamH04/core-team

feat: UI_LABELSに"閉じる"ラベルを追加
  packages/constants/src/ui-labels.ts
Owners: @TeamH04/core-team

feat: ReviewCardとShopCardでスタイルの型定義を明示的にキャスト
  apps/mobile/components/ReviewCard.tsx
  apps/mobile/components/ShopCard.tsx
Owners: @TeamH04/mobile-team

feat: テスト用のmockStationUseCaseを追加し、依存関係にStationHandlerを統合
  apps/backend/internal/router/router_test.go
Owners: @TeamH04/backend-team

指摘事項修正
  apps/mobile/features/user/UserContext.tsx
  apps/mobile/package.json
  apps/web/package.json
  packages/hooks/package.json
  packages/hooks/src/useUserState.ts
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

ベンチマーク結果をコメントする機能を削除
  .github/workflows/ci.yml
Owners: @TeamH04/core-team

fix(router): ログ出力のエラーレベルをステータスコードに基づいて修正
  apps/backend/internal/router/router.go
  apps/backend/internal/router/router_test.go
Owners: @TeamH04/backend-team

fix(user): エラーハンドリングを追加し、ユーザーのプロフィール登録判定を修正
  Makefile
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/core-team, @TeamH04/mobile-team

fix(user): __DEV__の宣言を追加し、isProfileCompleteの条件を簡略化
  apps/mobile/features/search/screens/SearchScreen.tsx
  packages/hooks/src/useUserState.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: レビュー対応
  apps/backend/internal/handlers/station.go
  apps/backend/internal/repository/model/station.go
  apps/backend/internal/router/router_test.go
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/ShopCard.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  packages/constants/src/index.ts
  packages/constants/src/review.ts
  packages/mobile-ui/src/cardTypes.ts
  packages/mobile-ui/src/components/StationSelect.tsx
Owners: @TeamH04/backend-team, @TeamH04/mobile-team, @TeamH04/core-team

feat: テスト用のmock関数をnode:testからmocksに移動しVitest/Jestの互換性を向上
  packages/test-utils/src/contextTestHelpers.ts
  packages/test-utils/src/mocks.ts
Owners: @TeamH04/core-team

feat(user): ユーザーのプロフィール登録状態をローカルストレージに保存する機能を追加
  apps/mobile/app/profile/register.tsx
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

fix: react-test-renderer のバージョンを 19.2.3 から 19.1.0 にダウングレードし、エラーメッセージを console.error に変更
  packages/hooks/package.json
  packages/hooks/src/useSearchHistoryStorage.ts
  pnpm-lock.yaml
Owners: @TeamH04/core-team

fix: コードの整形とスタイルの一貫性を向上
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/components/ShopCard.tsx
  apps/mobile/lib/api.ts
  packages/api/src/index.ts
  packages/mobile-ui/src/components/GenreChipSelector.tsx
  packages/mobile-ui/src/components/StationSelect.tsx
  packages/mobile-ui/src/index.ts
  packages/test-utils/src/mocks.ts
  packages/validators/src/shop-registration.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat(mobile): モバイルアプリのトンネルオプションを追加
  Makefile
Owners: @TeamH04/core-team

feat: レビュー機能の依存関係にlikeReviewの失敗オプションを追加
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
  apps/mobile/features/reviews/__tests__/ReviewsContext.test.tsx
Owners: @TeamH04/mobile-team

fix:dev client環境でログインが動作しなかった問題を修正
  apps/mobile/lib/auth/supabase.ts
  packages/core-utils/src/supabase.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

DRY原則適用, ロジック抽出, コード品質改善, テスト追加
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  packages/constants/src/__tests__/review.test.ts
  packages/constants/src/index.ts
  packages/constants/src/review.ts
  packages/mobile-ui/src/palette.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

feat: オーナー用のサインアップフローを実装
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/apperr/apperr.go
  apps/backend/internal/domain/entity/user.go
  apps/backend/internal/handlers/auth.go
  apps/backend/internal/handlers/owner.go
  apps/backend/internal/handlers/user.go
  apps/backend/internal/infra/supabase/client.go
  apps/backend/internal/presentation/error_mapping.go
  apps/backend/internal/presentation/presenter/presenter_test.go
  apps/backend/internal/presentation/presenter/responses.go
  apps/backend/internal/repository/model/model_test.go
  apps/backend/internal/repository/model/model_to_entity.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/repository/testutil/db.go
  apps/backend/internal/repository/user.go
  apps/backend/internal/router/endpoints.go
  apps/backend/internal/router/router.go
  apps/backend/internal/router/router_test.go
  apps/backend/internal/usecase/auth.go
  apps/backend/internal/usecase/input/auth.go
  apps/backend/internal/usecase/input/owner.go
  apps/backend/internal/usecase/input/user.go
  apps/backend/internal/usecase/output/auth.go
  apps/backend/internal/usecase/output/owner.go
  apps/backend/internal/usecase/owner.go
  apps/backend/internal/usecase/user.go
  apps/backend/internal/usecase/user_test.go
  apps/backend/migrations/000008_add_user_phone.down.sql
  apps/backend/migrations/000008_add_user_phone.up.sql
  apps/mobile/app/owner/signup.tsx
  docs/specs/api.md
  docs/specs/database.md
  packages/api/src/index.ts
  packages/types/src/index.ts
Owners: @TeamH04/backend-team, @TeamH04/core-team, @TeamH04/mobile-team

fix: 型の不整合とUXの改善
  apps/backend/internal/handlers/owner.go
  apps/backend/internal/usecase/input/owner.go
  apps/backend/internal/usecase/owner.go
  apps/mobile/app/owner/signup.tsx
  packages/api/src/index.ts
Owners: @TeamH04/backend-team, @TeamH04/mobile-team, @TeamH04/core-team

test: テスト追加
  apps/backend/internal/handlers/owner_test.go
  apps/backend/internal/infra/supabase/client_test.go
  apps/backend/internal/usecase/owner_test.go
  apps/backend/internal/usecase/user_test.go
Owners: @TeamH04/backend-team, @TeamH04/core-team

refactor(backend): オーナー登録の更新処理をトランザクション化
  apps/backend/cmd/server/bootstrap.go
  apps/backend/internal/handlers/testutil/mocks.go
  apps/backend/internal/repository/user.go
  apps/backend/internal/usecase/output/user.go
  apps/backend/internal/usecase/owner.go
  apps/backend/internal/usecase/owner_test.go
Owners: @TeamH04/backend-team

fix(backend): オーナーの再申請を拒否
  apps/backend/internal/handlers/owner.go
  apps/backend/internal/handlers/owner_test.go
  apps/backend/internal/usecase/errors.go
Owners: @TeamH04/backend-team

test(backend): UserUseCaseレース条件モックを更新
  apps/backend/internal/usecase/user_test.go
Owners: @TeamH04/backend-team

refactor(backend): オーナー完了処理を単一更新に整理
  apps/backend/internal/usecase/owner.go
  apps/backend/internal/usecase/owner_test.go
Owners: @TeamH04/backend-team

fix(backend): 電話番号の空文字をnilに変換
  apps/backend/internal/usecase/user.go
Owners: @TeamH04/backend-team

fix(api): 空の電話番号を送信しない
  packages/api/src/index.ts
Owners: @TeamH04/core-team

fix(mobile): OTP失敗時に入力へ戻れるよう改善
  apps/mobile/app/owner/signup.tsx
Owners: @TeamH04/mobile-team

feat(core-utils): devWarnログユーティリティを追加
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/app/shop/[id]/review.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  packages/core-utils/src/index.ts
  packages/core-utils/src/logger.ts
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: PRレビュー指摘を修正
  apps/backend/internal/handlers/station.go
  apps/mobile/components/ShopCard.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  packages/mobile-ui/src/components/StationSelect.tsx
Owners: @TeamH04/backend-team, @TeamH04/mobile-team, @TeamH04/core-team

style: import順序を修正
  packages/test-utils/src/contextTestHelpers.ts
  packages/test-utils/src/mocks.ts
Owners: @TeamH04/core-team

fix: ルートカウントの期待値を修正
  apps/backend/internal/router/router_test.go
Owners: @TeamH04/backend-team

feat(user): プロフィール登録状態のキーを定数としてエクスポートし、使用箇所を更新
  apps/mobile/app/profile/register.tsx
  apps/mobile/features/user/UserContext.tsx
  package.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix(user): プロフィール登録判定の条件を修正し、nameのトリミングを追加
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

feat: アクティブタブをわかりやすく表示
  apps/mobile/app/(tabs)/_layout.tsx
  package.json
Owners: @TeamH04/mobile-team, @TeamH04/core-team
