Repository TeamH04/team-production, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TeamH04/core-team, @TeamH04/backend-team, @TeamH04/mobile-team

fix: ユーザープロフィールの性別型を文字列から列挙型に変更
  apps/mobile/features/user/UserContext.tsx
Owners: @TeamH04/mobile-team

feat: いいねしたレビュー画面を実装
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
Owners: @TeamH04/mobile-team

feat: レビューのいいね機能を実装
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

style: レビューのいいねボタンを緑色に変更
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

chore: .gitignoreに.claude/を追加
  .gitignore
Owners: @TeamH04/core-team

feat: 訪問済み機能を追加し、検索画面にフィルターを実装
  apps/mobile/app/_layout.tsx
  apps/mobile/constants/palette.ts
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  apps/mobile/features/visited/VisitedContext.tsx
Owners: @TeamH04/mobile-team

chore: 依存関係の更新
  apps/mobile/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

場所とマップで開くの間に余白追加
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

fix: フォーマット
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

refactor: ReviewListSection 削除、MyPageScreen 修正 - ScrollRef 正確化、重複コード復元
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
  apps/mobile/features/reviews/ReviewsContext.tsx
  apps/mobile/features/reviews/screens/ReviewHistoryScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

オーナー用店舗登録(仮)
  apps/mobile/app/_layout.tsx
  apps/mobile/app/owner/register-shop.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

copilotの修正案反映・エラー防止
  apps/mobile/app/owner/register-shop.tsx
Owners: @TeamH04/mobile-team

CI/CD修正
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

ci: ensure go cache dirs exist to avoid Path Validation Error
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

improvement security-audit error
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

GitHub Actionsのバージョンを更新
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/backend-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/expo-deploy.yml
Owners: @TeamH04/core-team

Discord通知用スクリプトをjsに分離
  .github/scripts/discord-notify.js
  .github/workflows/discord-notify.yml
Owners: @TeamH04/core-team

refactor: VisitedContext の isVisited 関数を useCallback でメモ化し、テストを追加
  apps/mobile/features/visited/VisitedContext.tsx
  apps/mobile/features/visited/__tests__/VisitedContext.test.tsx
  apps/mobile/package.json
  pnpm-lock.yaml
Owners: @TeamH04/mobile-team, @TeamH04/core-team

refactor: VisitedFilter の定義を整理し、フィルターボタンの実装を簡素化
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix: 更新された @types/node と tsx のバージョンを修正
  apps/mobile/package.json
  apps/web/package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

feat: アクセシビリティラベルを訪問済みフィルターに追加し、isVisited関数を簡素化
  apps/mobile/features/search/screens/SearchScreen.tsx
  apps/mobile/features/visited/VisitedContext.tsx
Owners: @TeamH04/mobile-team

fix: テストスクリプトのパスを修正して、すべてのテストを実行できるように
  apps/mobile/package.json
Owners: @TeamH04/core-team

fix: 検索機能に履歴保存ロジックを追加
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

test: FavoritesContext のユニットテストを追加
  apps/mobile/features/favorites/__tests__/FavoritesContext.test.tsx
Owners: @TeamH04/mobile-team

feat: レビュー作成機能の実装
  apps/backend/cmd/server/main.go
  apps/backend/internal/handlers/review.go
  apps/backend/internal/repository/model/models.go
  apps/backend/internal/repository/review.go
  apps/backend/internal/repository/transaction.go
  apps/backend/internal/router/router.go
  apps/backend/internal/usecase/input/review.go
  apps/backend/internal/usecase/output/review.go
  apps/backend/internal/usecase/output/transaction.go
  apps/backend/internal/usecase/review.go
  docs/DB設計書.md
Owners: @TeamH04/backend-team, @TeamH04/core-team

fix: 店舗詳細画面のタグ処理を改善
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

fix: 入力欄のクリア条件を修正
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

chore: dev client導入
  Makefile
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/metro.config.js
  apps/mobile/package.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @TeamH04/core-team, @TeamH04/mobile-team

feat: プロフィール編集をマイページ内の内部画面として実装
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

style: インデント統一
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

fix: コメント削除
  apps/mobile/features/search/screens/SearchScreen.tsx
Owners: @TeamH04/mobile-team

fix: Reactインポート順序の修正とプロフィール編集画面の状態初期化改善
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/mypage/screens/MyPageScreen.tsx
Owners: @TeamH04/mobile-team

fix: 店舗詳細画面の共有機能とマップリンクを改善
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

ci: remove debug steps for Go cache paths in CI/CD workflow
  .github/workflows/ci-cd.yml
Owners: @TeamH04/core-team

feat: 機能: HomeScreenおよびShopDetailScreen コンポーネントをリファクタして構造とスタイルを改善
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
  eslint.config.js
Owners: @TeamH04/mobile-team, @TeamH04/core-team

fix: 型エラーと依存関係の競合を解決
  apps/mobile/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Owners: @TeamH04/core-team

ログイン画面のUIを変更
  apps/mobile/app/_layout.tsx
  apps/mobile/app/login.tsx
  apps/mobile/constants/palette.ts
Owners: @TeamH04/mobile-team

CI/CDのエラー修正
  apps/mobile/features/home/screens/HomeScreen.tsx
Owners: @TeamH04/mobile-team

copilotの修正案
  apps/mobile/app/login.tsx
Owners: @TeamH04/mobile-team

リンターエラーを修正
  apps/mobile/app/login.tsx
  apps/mobile/app/profile/edit.tsx
  apps/mobile/features/home/screens/HomeScreen.tsx
  apps/mobile/features/shop/screens/ShopDetailScreen.tsx
Owners: @TeamH04/mobile-team

.github/CODEOWNERS:

# Global owners
* @TeamH04/core-team

# Backend specific
apps/backend/ @TeamH04/backend-team
apps/backend/**/*.go @TeamH04/backend-team
apps/backend/**/go.mod @TeamH04/backend-team
apps/backend/**/go.sum @TeamH04/backend-team

# Mobile specific
apps/mobile/ @TeamH04/mobile-team
apps/mobile/**/*.tsx @TeamH04/mobile-team
apps/mobile/**/*.ts @TeamH04/mobile-team
apps/mobile/**/package.json @TeamH04/mobile-team

# CI/CD workflows
.github/ @TeamH04/core-team
.github/workflows/ @TeamH04/core-team

# Dependencies
package.json @TeamH04/core-team
pnpm-lock.yaml @TeamH04/core-team
.github/dependabot.yml @TeamH04/core-team

# Infrastructure
supabase/ @TeamH04/backend-team
infra/ @TeamH04/core-team

# Documentation
*.md @TeamH04/core-team
README.md @TeamH04/core-team

# Root configuration files
Makefile @TeamH04/core-team
eslint.config.js @TeamH04/core-team
tsconfig.json @TeamH04/core-team
